# PATTENRS.

In [17]:
#TO PRINT GIVEN NUMBER OF STARS IN ROW.
n=int(input("Enter n value:"))
for i in range(n):
    print("*",end="")

Enter n value:4
****

In [6]:
#TO PRINT SQAURE PATTERN WITH * SYMBOLS.
n=int(input("Enter a number of rows:"))
for i in range(n):
    print("* "*n)

Enter a number of rows:4
* * * *
* * * *
* * * *
* * * *

In [20]:
#TO PRINT SQUARE WITH PROVIDED FIXID DIGIT.
n=int(input("Enter a number of rows:"))
for i in range(n):
    print(f"{n} " ""*n)
print()

Enter a number of rows:5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

In [21]:
#TO PRINT SQUARE WITH PROVIDED FIXID DIGIT.
n=int(input("Enter a number of rows:"))
for i in range(n):
    print((str(n)+ " ")*n)

Enter a number of rows:5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

In [11]:
#TO PRINT SQUARE PATTERN WITH PROVIDED DIGIT IN EVERY ROW.
n=int(input("Enter a number of rows:"))
for i in range(1,n+1):
    print((str(i)+" ")*n)

Enter a number of rows:4
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [12]:
#TO PRINT SQUARE PATTERN WITH PROVIDED DIGIT IN EVERY ROW.
n=int(input("Enter a number of rows:"))
for i in range(n):
    print((str(i+1)+" ")*n)

Enter a number of rows:4
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [13]:
#TO PRINT SQUARE PATTERN WITH FIXED ALPHABET SYMBOL.
n=int(input("Enter a number of rows:"))
for i in range(n):
    print(("A"+" ")*n)

Enter a number of rows:5
A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [16]:
#TO PRINT SQUARE PATTERN WITH FIXED ALPHABET SYMBOL.
n=int(input("Enter a number of rows:"))
for i in range(n):
    print(("A ")*n)

Enter a number of rows:12
A A A A A A A A A A A A
A A A A A A A A A A A A
A A A A A A A A A A A A
A A A A A A A A A A A A
A A A A A A A A A A A A
A A A A A A A A A A A A
A A A A A A A A A A A A
A A A A A A A A A A A A
A A A A A A A A A A A A
A A A A A A A A A A A A
A A A A A A A A A A A A
A A A A A A A A A A A A

In [19]:
#TO PRINT RIGHT ANGLE TRIANGLE PATTERN WITH FIXED ALPHABET SYNBOL.
#ASCII VALUES A=65,B=66......
n=int(input("Enter a number of rows:"))
for i in range(n):#0,1,2,3.
    print((chr(65+i)+" ")*(i+1))#chr

Enter a number of rows:5
A
B B
C C C
D D D D
E E E E E

In [36]:
#TO PRINT INVERTED RIGHT ANGLE TRIANGLE PATTERN WITH * SYMBOL.
n=int(input("Enter a number of rows:"))
for i in range(n):
    print("* "*(n-i))

Enter a number of rows:5
* * * * *
* * * *
* * *
* *
*

In [33]:
#TO PRINT RIGHT ANGLE TRIANGLE PATTERN WITH DIGITS IN ASENDING ORDER IN 
# EVERY ROW.
n=int(input("Enter a number of rows:"))
for i in range(n):#0,1,2,3
    for j in range(n-i):
        print(j+1,end=" ")
    print()

Enter a number of rows:4
1 2 3 4
1 2 3
1 2
1

In [41]:
#TO PRINT INVERTED RIGHT ANGLE TRIANGLE PATTERN WITH * SYMBOL.
n=int(input("Enter number of rows:"))
for i in range(n):
    for j in range(n-i):
        print("* ",end="")
    print()

Enter number of rows:5
* * * * *
* * * *
* * *
* *
*

In [44]:
#TO PRINT INVERTED RIGHT ANGLE TRIANGLE PATTERN WITH * SYMBOL.
n=int(input("Enter a number of rows:"))
for i in range(n):
    print("* "*(n-i))

Enter a number of rows:5
* * * * *
* * * *
* * *
* *
*

In [42]:
#TO PRINT RIGHT ANGLE TRIANGLE PATTERN WITH * SYMBOL.
n=int(input("Enter a number of rows:"))
for i in range(n):
    print("* "*(i+1))

Enter a number of rows:5
*
* *
* * *
* * * *
* * * * *

In [43]:
#TO PRINT RIGHT ANGLE TRIANGLE PATTERN WITH * SYMBOL.
n=int(input("Enter number of rows:"))
for i in range(n):
    for j in range(i+1):
        print("* ",end="")
    print()

Enter number of rows:5
*
* *
* * *
* * * *
* * * * *

In [47]:
#INCREASING TRIANGLE PATTERN
n=int(input("Enter a number:"))
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

Enter a number:5
*
* *
* * *
* * * *
* * * * *

In [1]:
#DECREASING TRIANGLE PATTERN
n=int(input("Enter a number:"))
for i in range(n):
    for j in range(i,n):
        print("*",end=" ")
    print()

Enter a number:5
* * * * *
* * * *
* * *
* *
*

In [9]:
#RIGHT SIDED TRIANGLE
n=int(input("Enter a number of rows:"))
for i in range(n):
    for j in range(i,n-1):
        print(" ",end="")
    for k in range(i+1):
        print("*",end="")
    print()

Enter a number of rows:5
    *
   **
  ***
 ****
*****

In [1]:
n=int(input("Enter a number:"))
for i in range(n):
    for j in range(i):
        print(" ",end="")
    for k in range(i,n):
        print("*",end="")    
    print()

Enter a number:5
*****
 ****
  ***
   **
    *

In [13]:
n=int(input("Enter a number:"))
for i in range(n):
    for j in range(i):
        print(" ",end="")
    for j in range(i,n):
        print("*",end="")    
    print()

Enter a number:5
*****
 ****
  ***
   **
    *

In [2]:
#HILL PATTERN
n=int(input("Enter a number of rows:"))
for i in range(n):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i+1):
        print("*",end="")
    for j in range(i):
        print("*",end="")    
    print()

Enter a number of rows:5
     *
    ***
   *****
  *******
 *********

In [21]:
#HILL PATTERN
n=int(input("Enter a number of rows:"))
for i in range(n):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i):
        print("*",end="")
    for j in range(i+1):
        print("*",end="")    
    print()

Enter a number of rows:5
     *
    ***
   *****
  *******
 *********

In [30]:
#REVERSE HILL PATTERN
n=int(input("Enter a number:"))
for i in range(n):
    for j in range(i+1):
        print(" ",end="")
    for j in range(i,n-1):
        print("*",end="")  
    for j in range(i,n):
        print("*",end="")     
    print()

Enter a number:5
 *********
  *******
   *****
    ***
     *

In [29]:
#REVERSE HILL PATTERN
n=int(input("Enter a number:"))
for i in range(n):
    for j in range(i+1):
        print(" ",end="")
    for j in range(i,n):
        print("*",end="")  
    for j in range(i,n-1):
        print("*",end="")     
    print()

Enter a number:5
 *********
  *******
   *****
    ***
     *

In [35]:
#DIAMOND PATTERN
n=int(input("Enter a number of rows:"))
for i in range(n-1):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i):
        print("*",end="")
    for j in range(i+1):
        print("*",end="")    
    print()   
for i in range(n):
    for j in range(i+1):
        print(" ",end="")
    for j in range(i,n):
        print("*",end="")  
    for j in range(i,n-1):
        print("*",end="")     
    print()

Enter a number of rows:5
     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [3]:
n=int(input("Enter a number of rows:"))
for i in range(n):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i+1):
        print(" *",end="")   
    print()

Enter a number of rows:5
      *
     * *
    * * *
   * * * *
  * * * * *

In [2]:
n=int(input("Enter a number of rows:"))
for i in range(n):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i+1):
        print("* ",end="")   
    print()
for i in range(n):
    for j in range(i+1):
        print(" ",end="")
    for j in range(n-i):
        print("* ",end="")   
    print()

Enter a number of rows:5
     *
    * *
   * * *
  * * * *
 * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [49]:
n=int(input("Enter a number of rows:"))
for i in range(1,n+1):
    print((str(i)+" ")*i)

Enter a number of rows:5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [51]:
n=int(input("Enter a number of rows:"))
for i in range(n):
    print(" "*(n-i-1)+(str(i+1)+" ")*(i+1))

Enter a number of rows:5
    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [56]:
n=int(input("Enter a number of rows:"))
for i in range(n):
    print(" "*(n-i-1),end="")
    for j in range(i+1):
        print((chr(64+n-j)),end=" ")
    print()

Enter a number of rows:5
    E
   E D
  E D C
 E D C B
E D C B A

In [7]:
n=int(input("Enter a number:"))
for i in range(n):
    for  j in range(i+1):
        print(chr(65+j),end=" ")
    print() 
for i in range(n-1):
    for j in range(n-i-1):
        print(chr(65+j),end=" ")
    print()

Enter a number:5
A
A B
A B C
A B C D
A B C D E
A B C D
A B C
A B
A

In [12]:
n=int(input("Enter a number:"))
for i in range(n):
    print(" "*i,end="")
    for j in range(n-i):
            print(chr(65+j),end=" ")
    print()

Enter a number:5
A B C D E
 A B C D
  A B C
   A B
    A

In [23]:
n=int(input("Enter a number:"))
for i in range(n):
    print(" "*(n-i-1)+"* "*(i+1))
for i in range(n-1):
    print(" "*(i+1)+"* "*(n-i-1))

Enter a number:4
   *
  * *
 * * *
* * * *
 * * *
  * *
   *

In [27]:
n=int(input("Enter a number:"))
for i in range(n):
    for  j in range(i+1):
        print("* ",end=" ")
    print() 
for i in range(n-1):
    for j in range(n-i-1):
        print("* ",end=" ")
    print()

Enter a number:5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [31]:
n=int(input("Enter a number:"))
for i in range(n):
        print("* "*(i+1))
for i in range(n-1):
        print("* "*(n-i-1))

Enter a number:5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [4]:
l=int(input("Enter length:"))
b=int(input("Enter breadth:"))
print("* "*b)
for i in range(1,l-1):
    print("*"+"  "*((b*2)-3)+"*")
print("* "*b)

Enter length:5
Enter breadth:10
* * * * * * * * * *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [6]:
l=int(input("Enter length:"))
b=int(input("Enter breadth:"))
print("* "*b)
for i in range(1,l-1):
    print("* "+"  "*(b-2)+"*")
print("* "*b)

Enter length:5
Enter breadth:19
* * * * * * * * * * * * * * * * * * *
*                                   *
*                                   *
*                                   *
* * * * * * * * * * * * * * * * * * *

In [10]:
n=int(input("Enter a number of rows:"))
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

Enter a number of rows:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [9]:
n=int(input())
for i in range(n):
    for j in range(n):
        if j%2==0:
            print("0",end=" ")
        else:
            print("1",end=" ")
    print()

5
0 1 0 1 0
0 1 0 1 0
0 1 0 1 0
0 1 0 1 0
0 1 0 1 0

In [10]:
n=int(input())
for i in range(n):
    for j in range(n):
        if j%2==0:
            print("1",end=" ")
        else:
            print("0",end=" ")
    print()

5
1 0 1 0 1
1 0 1 0 1
1 0 1 0 1
1 0 1 0 1
1 0 1 0 1

In [15]:
n=int(input())
for i in range(n):
        if i%2==0:
            print("1 "*n)
        else:
            print("0 "*n)

5
1 1 1 1 1
0 0 0 0 0
1 1 1 1 1
0 0 0 0 0
1 1 1 1 1

In [24]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n+1): 
            print(j+i,end=" ")
    print()

5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8
5 6 7 8 9
6 7 8 9 10

In [16]:
n=int(input())
for i in range(1,n+1):
    for j in range(n):
        print(i,end=" ")
    print()

4
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [19]:
rows=int(input())
current_value=1
for i in range(1, rows + 1):
        if i % 2 == 0:
            for j in range(1, i + 1):
                print(current_value, end=' ')
            current_value += 1
        else:
            for j in range(1, i + 1):
                print(current_value, end=' ')

4
1 1 1 2 2 2 2 2 2 2

In [4]:
n=int(input())
for i in range(n):
    for j in range(n):
        print(i,j,end="")
    print()

5
0 00 10 20 30 4
1 01 11 21 31 4
2 02 12 22 32 4
3 03 13 23 33 4
4 04 14 24 34 4

In [14]:
n=int(input("Enter a number of rows:"))
for i in range(1,n+1):
    for j in range(i,n):
        print(" ",end="")
    for j in range(1,i+2):
        print(j,end=" ")   
    print()

Enter a number of rows:5
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5
1 2 3 4 5 6

In [41]:
n = int(input())
t = n
k = 1
for i in range(n//2+1):
    for j in range(n):
        print(k,end=" ")
        k+=1
    k+=n
    print()
k-= (3*n)
for i in range(n//2+1,n):
    for j in range(n):
        print(k,end=" ")
        k+=1
    k-=(3*n)
    print()

5
1 2 3 4 5
11 12 13 14 15
21 22 23 24 25
16 17 18 19 20
6 7 8 9 10

In [51]:
n = int(input())
count = 0
for i in range(1,n+1):
    for j in range(1,n+1):
        if i<=j:
            print("* ",end=" ")
            count+=1
        else:
            print("  ",end=" ")
    count+=1
    print()
print(count)

4
*  *  *  *
   *  *  *
      *  *
         *
14