# Python Programming Language

Python was founded by Guido van Rossum on February 20th, 1991

# Usages of Python
- Web development
- Software development
- Mathematics & Data Science/Analytics
- System Scripting

# What can Python do?
- Python can be used on a server to create web applications.
- Python can be used alongside software to create workflows.
- Python can connect to database systems. It can also read and modify files.
- Python can be used to handle big data and perform complex mathematics.
- Python can be used for rapid prototyping, or for production-ready software development.

# Why Python?
- Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
- Python has a simple syntax similar to the English language.
- Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
- Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
- Python can be treated in a procedural way, an object-oriented way or a functional way.

# Python Syntax compared to other programming languages
- Python was designed for readability, and has some similarities to the English language with influence from mathematics.
- Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
- Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

Python file extension:
Python Basics Data Analytics.ipynb

|Data Types:| Description|
|-----------|------------|
| Numerical:|Integer, Float, Complex, Binary|
| Character:|String/Object|
| Boollean: |True/False, 1/0|
| Date:     |Numerical/Character|


Data Structures:
- List
- Tuple
- Dictionary
- Set
- Array (NumPy)
- Series (Pandas)
- DataFrame (Pandas)

Libraries:
- NumPy (Numerical Calculations)
- Pandas (For data arranged in table)
- Matplotlib (Visualization)
- Seaborn (Visualization)
- Scipy Stats (For statistics)
- Scikit Learn (Machine Learning)
- NLTK & Spacy(Natural Language Processing)
- Tensorflow/Keras (Deep Learning)



| Item         | Price | # In stock |
|--------------|:-----:|-----------:|
| Apples       |  1.99 |        739 |
| Bananas      |  1.89 |          6 |


## Usage of brackets

- Box Bracket [] : To create a list, or to access any value from a list, tuple, dataframe, array, series or a key from a dictionary, after loc & iloc function in a dataframe.

- Curve Bracket () : To create a tuple, and for all the functions & methods, except loc & iloc are followed by curve bracket.

- Flower bracket {} : To create a dictionary or a set data structure.


# Object
Object is like an empty container, which can save any value or function. We can say that an object is a variable.

In [ ]:
a = 5
a
b= 9
b

9

In [ ]:
a = 5
print(a)
b= 9
b

5

9

In [ ]:
a = 7
print('The value of a is',a)
b = 6
print('The value of b is',b)
a = 3
print('The new value of a is',a)

The value of a is 7
The value of b is 6
The new value of a is 3
3 6

In [ ]:
print(a,b)

3 6

In [ ]:
x = 8
print(x)
print('The type of data store in x is',type(x))

8
The type of data store in x is <class 'int'>

In [ ]:
y = 12.63
print(y)
type(y)

12.63

float

In [ ]:
z = 'Python'
print(z)
type(z)

Python

str

In [ ]:
m = 5+6j
print(m)
type(m)

(5+6j)

complex

In [ ]:
m = 5+6i
print(m)
type(m)

SyntaxError: invalid decimal literal (<ipython-input-15-b9d1ac3a933f>, line 1)

In [ ]:
'''This is a
multi line
comment'''

In [ ]:
p = True
print(p)
type(p)

True

bool

In [ ]:
# Boollean Value
p = True
print(p)
print(type(p))
p = int(p)
print(p)

True
<class 'bool'>
1

In [ ]:
p = 1
print(p)
print(type(p))
p = bool(p)
print(p)

1
<class 'int'>
True

In [ ]:
q = False
print(q)
type(q)

False

bool

In [ ]:
q = False
print(q)
print(type(q))
q = int(q)
print(q)

False
<class 'bool'>
0

In [ ]:
q = 0
print(q)
print(type(q))
q = bool(q)
print(q)

0
<class 'int'>
False

# Operators in Python
- Addition +
Used to add the values
- Subtraction -
Used to subtract the value from another
- Multiplication *
Used to multiply a value with another
- Division /
Used to divide a value by another
- Floor Division //
Will provide the whole number part of the quotient after dividing
- Power **
Will raise a number to another number
- Mod % Will provide the remainder after dividing a number with another

# Relational Operators
- Greater than or equal to >=
- Lesser than or equal to <=
- Lesser than <
- Greater than >
- Equal to ==
- Not equal to !=
- in
- not in

In [ ]:
a = 9
b = 5
a+b

14

In [ ]:
a = 9
b = 5
a-b

4

In [ ]:
a = 9
b = 5
a*b

45

In [ ]:
a = 9
b = 5
a/b

1.8

In [ ]:
# To find the round down value of the quotient when a number is divided by another
a = 9
b = 2
a//b

4

In [ ]:
# To find the remainder when a number is divided by another
a = 9
b = 7
a%b

2

In [ ]:
# To raise a number to a power
a = 4
b = 3
a**b   #4*4*4

64

In [ ]:
a = 3+5j
b = 4+9j
a*b

(-33+47j)

In [ ]:
a = 3+5j
b = 4+9j
a+b

(7+14j)

In [ ]:
str(59.6) + '%'

'59.6%'

In [ ]:
a = 6
b = 4.56
c = 'kilometres'
round(a+b, 2)

10.56

In [ ]:
a = 6
b = 4.56
c = 'kilometres'
a+c

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
a = 6
b = 4.56
c = 'kilometres'
str(a) + ' ' + c

'6 kilometres'

In [ ]:
a = '56/25'
a

'56/25'

In [ ]:
letters = 'abcdefghijklmnopqrstuvxyz'
letters[5:15]

'fghijklmno'

In [ ]:
letters[10:]

'klmnopqrstuvxyz'

In [ ]:
letters[:15]

'abcdefghijklmno'

In [ ]:
letters = 'abcdefghijklmnopqrstuvxyz'
letters[3:6] + letters[15:18]

'defpqr'

In [ ]:
letters = 'abcdefghijklmnopqrstuvwxyz'
print(letters)
letters[23:]

abcdefghijklmnopqrstuvwxyz

'xyz'

In [ ]:
letters

'abcdefghijklmnopqrstuvwxyz'

In [ ]:
print(letters)
letters[-10:]

abcdefghijklmnopqrstuvwxyz

'qrstuvwxyz'

In [ ]:
print(letters)
letters[-10:-24:-1]

abcdefghijklmnopqrstuvwxyz

'qponmlkjihgfed'

In [ ]:
print(letters)
letters[10:23:3]

abcdefghijklmnopqrstuvwxyz

'knqtw'

In [ ]:
print(letters)
letters[-3:-23:-2]

abcdefghijklmnopqrstuvwxyz

'xvtrpnljhf'

In [ ]:
print(letters)
letters[-23:-15:3]

abcdefghijklmnopqrstuvwxyz

'dgj'

In [ ]:
print(letters)
letters[-17:-24:-3]

abcdefghijklmnopqrstuvwxyz

'jgd'

In [ ]:
print(letters)
letters[-1:-26:-2]

abcdefghijklmnopqrstuvwxyz

'zxvtrpnljhfdb'

# Difference Between Data Type & Data Structure
- Data type can be different for each single value, whether stored in an object or not. Every single value has its data type.
- Data Structure is an arrangement of multiple data values of different data types in a single object.

# Rules for the object name
- Never start an object name with a numeric value
- Never keep any space in object name
- Except underscore _, no other special character should be used in object name

# Python is Highly Case & Character Sensitive
# Python Follows Zero Indexation

# Difference between 'Function' & 'Method'?


# List Data Structure
Most dynamic data structure and accepts all types of data, which is mutable in all possible ways.

|Method|Description|
|------|-----------|
|append()|Adds an element at the end of the list|
|clear()|Removes all the elements from the list|
|copy()|Returns a copy of the list|
|count()|Returns the number of elements with the |specified value|
|extend()|Add the elements of a list (or any iterable), to the end of the current list
|index()|Returns the index of the first element with the specified value|
|insert()|Adds an element at the specified position|
|pop()|Removes the element at the specified position|
|remove()|Removes the item with the specified value|
|reverse()|Reverses the order of the list|
|sort()|Sorts the list|

In [ ]:
list1 = [1,2,3,6,45.2,14.8,5j,9j,'Data', 'Science', True, False]
list1

[1, 2, 3, 6, 45.2, 14.8, 5j, 9j, 'Data', 'Science', True, False]

In [ ]:
list1[4]

45.2

In [ ]:
list1[5:10]

[14.8, 5j, 9j, 'Data', 'Science']

In [ ]:
print(list1)
list1[-2:-9:-1]

[1, 2, 3, 6, 45.2, 14.8, 5j, 9j, 'Data', 'Science', True, False]

[True, 'Science', 'Data', 9j, 5j, 14.8, 45.2]

In [ ]:
list2 = [4,8,5,2,3,6,5, [4,7,8,5,2,4],7,8,5,2,4,1]
list2

[4, 8, 5, 2, 3, 6, 5, [4, 7, 8, 5, 2, 4], 7, 8, 5, 2, 4, 1]

In [ ]:
list2[7]

[4, 7, 8, 5, 2, 4]

In [ ]:
list2[7][2]

8

In [ ]:
print(list2)
list2[7][4]

[4, 8, 5, 2, 3, 6, 5, [4, 7, 8, 5, 2, 4], 7, 8, 5, 2, 4, 1]

2

In [ ]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [ ]:
list(range(15,31))

[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
list(range(5,51,3))

[5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50]

In [ ]:
nums = list(range(5,51,3))
nums

[5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50]

In [ ]:
list1 = ['Apple', 'Mango', 'Pineapple', 'Plum', 'Kiwi']
print(list1)
list1.append('Papaya')
print(list1)

['Apple', 'Mango', 'Pineapple', 'Plum', 'Kiwi']
['Apple', 'Mango', 'Pineapple', 'Plum', 'Kiwi', 'Papaya']

In [ ]:
list1 = ['Apple', 'Mango', 'Pineapple', 'Plum', 'Kiwi']
print(list1)
list1.append(['Chickoo', 'Dragon Fruit', 'Muskmelon'])
print(list1)

['Apple', 'Mango', 'Pineapple', 'Plum', 'Kiwi']
['Apple', 'Mango', 'Pineapple', 'Plum', 'Kiwi', ['Chickoo', 'Dragon Fruit', 'Muskmelon']]

In [ ]:
list1 = ['Apple', 'Mango', 'Pineapple', 'Plum', 'Kiwi']
print(list1)
list1.insert(2, 'Grapes')
print(list1)
list1.insert(4, 'Muskmelon')
print(list1)

['Apple', 'Mango', 'Pineapple', 'Plum', 'Kiwi']
['Apple', 'Mango', 'Grapes', 'Pineapple', 'Plum', 'Kiwi']
['Apple', 'Mango', 'Grapes', 'Pineapple', 'Muskmelon', 'Plum', 'Kiwi']

In [ ]:
list1 = ['Apple', 'Mango', 'Pineapple', 'Plum', 'Kiwi']
list1= list1[:3] + ['Grapes', 'Muskmelon'] + list1[3:]
print(list1)

['Apple', 'Mango', 'Pineapple', 'Grapes', 'Muskmelon', 'Plum', 'Kiwi']

In [ ]:
list1 = ['Apple', 'Mango', 'Pineapple', 'Plum', 'Kiwi']
list2= list1[:3] + ['Grapes', 'Muskmelon'] + list1[3:]
print(list1)
print(list2)

['Apple', 'Mango', 'Pineapple', 'Plum', 'Kiwi']
['Apple', 'Mango', 'Pineapple', 'Grapes', 'Muskmelon', 'Plum', 'Kiwi']

In [ ]:
list1 = list(range(6))
print(list1)
list1.insert(3, 9)
print(list1)
list1.insert(-2, 8)
print(list1)

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 9, 3, 4, 5]
[0, 1, 2, 9, 3, 8, 4, 5]

In [ ]:
list(range(5.5))

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
list1 = ['Apple', 'Mango', 'Pineapple', 'Plum', 'Kiwi']
print(list1)
list1.remove('Plum')
print(list1)

['Apple', 'Mango', 'Pineapple', 'Plum', 'Kiwi']
['Apple', 'Mango', 'Pineapple', 'Kiwi']

In [ ]:
list1 = ['Apple', 'Mango', 'Pineapple', 'Plum', 'Kiwi']
print(list1)
list1.remove(list1[3])
print(list1)

['Apple', 'Mango', 'Pineapple', 'Plum', 'Kiwi']
['Apple', 'Mango', 'Pineapple', 'Kiwi']

In [ ]:
list1 = ['Apple', 'Mango', 'Pineapple', 'Plum', 'Mango', 'Pineapple', 'Kiwi', 'Mango', 'Plum', 'Pineapple']
print(list1)
list1.remove(list1[4])
print(list1)

['Apple', 'Mango', 'Pineapple', 'Plum', 'Mango', 'Pineapple', 'Kiwi', 'Mango', 'Plum', 'Pineapple']
['Apple', 'Pineapple', 'Plum', 'Mango', 'Pineapple', 'Kiwi', 'Mango', 'Plum', 'Pineapple']

In [ ]:
list1 = ['Apple', 'Mango', 'Pineapple', 'Plum', 'Mango', 'Pineapple', 'Kiwi', 'Mango', 'Plum', 'Pineapple']
print(list1)
list1.remove(list1[-2])
print(list1)

['Apple', 'Mango', 'Pineapple', 'Plum', 'Mango', 'Pineapple', 'Kiwi', 'Mango', 'Plum', 'Pineapple']
['Apple', 'Mango', 'Pineapple', 'Mango', 'Pineapple', 'Kiwi', 'Mango', 'Plum', 'Pineapple']

In [ ]:
list1 = ['Apple', 'Mango', 'Pineapple', 'Plum', 'Mango', 'Pineapple', 'Kiwi', 'Mango', 'Plum', 'Pineapple']
print(list1)
list1.pop(4)
print(list1)

['Apple', 'Mango', 'Pineapple', 'Plum', 'Mango', 'Pineapple', 'Kiwi', 'Mango', 'Plum', 'Pineapple']
['Apple', 'Mango', 'Pineapple', 'Plum', 'Pineapple', 'Kiwi', 'Mango', 'Plum', 'Pineapple']

In [ ]:
list1 = ['Apple', 'Mango', 'Pineapple', 'Plum', 'Mango', 'Pineapple', 'Kiwi', 'Mango', 'Plum', 'Pineapple']
print(list1)
list1.pop()
print(list1)

['Apple', 'Mango', 'Pineapple', 'Plum', 'Mango', 'Pineapple', 'Kiwi', 'Mango', 'Plum', 'Pineapple']
['Apple', 'Mango', 'Pineapple', 'Plum', 'Mango', 'Pineapple', 'Kiwi', 'Mango', 'Plum']

In [ ]:
list1 = ['Apple', 'Mango', 'Pineapple', 'Plum', 'Mango', 'Pineapple', 'Kiwi', 'Mango', 'Plum', 'Pineapple']
print(list1)
list1.remove('Mango')
print(list1)

['Apple', 'Mango', 'Pineapple', 'Plum', 'Mango', 'Pineapple', 'Kiwi', 'Mango', 'Plum', 'Pineapple']
['Apple', 'Pineapple', 'Plum', 'Mango', 'Pineapple', 'Kiwi', 'Mango', 'Plum', 'Pineapple']

In [ ]:
list1.remove('Mango')
print(list1)

['Apple', 'Pineapple', 'Plum', 'Pineapple', 'Kiwi', 'Plum', 'Pineapple']

In [ ]:
list1 = ['Apple', 'Mango', 'Pineapple', 'Plum', 'Mango', 'Pineapple', 'Kiwi']
print(list1)
list1.extend(['Muskmelon','Mango', 'Plum', 'Pineapple'])
print(list1)

['Apple', 'Mango', 'Pineapple', 'Plum', 'Mango', 'Pineapple', 'Kiwi']
['Apple', 'Mango', 'Pineapple', 'Plum', 'Mango', 'Pineapple', 'Kiwi', 'Muskmelon', 'Mango', 'Plum', 'Pineapple']

In [ ]:
list1 = [22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi']
print(list1)
list1.reverse()
print(list1)

[22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi']
['Kiwi', 5j, 'Pineapple', 'Mango', True, 'Plum', 45.23, 'Pineapple', 14, 'Mango', 'Apple', 22.3]

In [ ]:
list1 = [22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi']
print(list1)
list1.sort()
print(list1)

[22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi']

TypeError: '<' not supported between instances of 'str' and 'float'

In [ ]:
list1 = ['Apple', 'Mango', 'Pineapple', 'plum', 'Mango', 'Pineapple', 'kiwi', 'Muskmelon', 'mango', 'Plum', 'pineapple']
print(list1)
list1.sort()
print(list1)
list1.sort(reverse= True)
print(list1)

['Apple', 'Mango', 'Pineapple', 'plum', 'Mango', 'Pineapple', 'kiwi', 'Muskmelon', 'mango', 'Plum', 'pineapple']
['Apple', 'Mango', 'Mango', 'Muskmelon', 'Pineapple', 'Pineapple', 'Plum', 'kiwi', 'mango', 'pineapple', 'plum']
['plum', 'pineapple', 'mango', 'kiwi', 'Plum', 'Pineapple', 'Pineapple', 'Muskmelon', 'Mango', 'Mango', 'Apple']

In [ ]:
list1 = [22.5,5,8,6,2.1,6.3,7.2,41,23,52,96,1.4]
print(list1)
list1.sort()
print(list1)
list1.sort(reverse= True)
print(list1)

[22.5, 5, 8, 6, 2.1, 6.3, 7.2, 41, 23, 52, 96, 1.4]
[1.4, 2.1, 5, 6, 6.3, 7.2, 8, 22.5, 23, 41, 52, 96]
[96, 52, 41, 23, 22.5, 8, 7.2, 6.3, 6, 5, 2.1, 1.4]

In [ ]:
list1 = [22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi','Mango']
print(list1)
list1.count('Mango')

[22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi', 'Mango']

3

In [ ]:
list1 = [22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi','Mango']
print(list1)
list1.count('Apple')

[22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi', 'Mango']

1

In [ ]:
list1 = [22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi','Mango']
print(list1)
list1.index(14)

[22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi', 'Mango']

3

In [ ]:
list1 = [22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi','Mango']
print(list1)
list1.index('Plum')

[22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi', 'Mango']

6

In [ ]:
list1 = [22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi','Mango']
print(list1)
print('The first occurrence of "Mango" is at index ',list1.index('Mango'))
print('The second occurrence of "Mango" is at index ',list1.index('Mango', 3))
print('The third occurrence of "Mango" is at index ',list1.index('Mango', 9))

[22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi', 'Mango']
The first occurrence of "Mango" is at index  2
The second occurrence of "Mango" is at index  8
The third occurrence of "Mango" is at index  12

In [ ]:
list1 = [22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi','Mango']
print(list1)
list1.clear()
print(list1)

[22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi', 'Mango']
[]

In [ ]:
list1 = [22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi','Mango']
print(list1)
list2 = list1.copy()
print(list2)
print(id(list1))
print(id(list2))
list1.append('New Element')
print(list1)
print(list2)

[22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi', 'Mango']
[22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi', 'Mango']
135621861412032
135621861417280
[22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi', 'Mango', 'New Element']
[22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi', 'Mango']

In [ ]:
list1 = [22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi','Mango']
list2 = list1
print(list1)
print(list2)
print(id(list1))
print(id(list2))
list1.append('New Element')
print(list1)
print(list2)

[22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi', 'Mango']
[22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi', 'Mango']
135621861414464
135621861414464
[22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi', 'Mango', 'New Element']
[22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi', 'Mango', 'New Element']

In [ ]:
list1 = [22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi','Mango']
print(list1)
list1[1] = 'Papaya'
print(list1)
list1[6] = 'Cherry'
print(list1)
list1[1],list1[2] = list1[2],list1[1]
print(list1)

[22.3, 'Apple', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi', 'Mango']
[22.3, 'Papaya', 'Mango', 14, 'Pineapple', 45.23, 'Plum', True, 'Mango', 'Pineapple', 5j, 'Kiwi', 'Mango']
[22.3, 'Papaya', 'Mango', 14, 'Pineapple', 45.23, 'Cherry', True, 'Mango', 'Pineapple', 5j, 'Kiwi', 'Mango']
[22.3, 'Mango', 'Papaya', 14, 'Pineapple', 45.23, 'Cherry', True, 'Mango', 'Pineapple', 5j, 'Kiwi', 'Mango']

# Tuple

Tuple is an immutable data structure. So once a tuple is created, we cannot make any modifications to it, like adding elements, deleting elements or even replacing elements.

In [ ]:
tup1 = (1,4,5,2,12.3,74.2,True,False, 'Data', 'Science', 5j,9+8j)
tup1

(1, 4, 5, 2, 12.3, 74.2, True, False, 'Data', 'Science', 5j, (9+8j))

In [ ]:
tup1[2] = 58

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup1.append('New Element')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
tup1 = (1,4,5,2,12.3,74.2,True,False, 'Data', 'Science', 5j,9+8j)
print(tup1)
tup1[5]

(1, 4, 5, 2, 12.3, 74.2, True, False, 'Data', 'Science', 5j, (9+8j))

74.2

In [ ]:
print('The value at the 7th index of tup1 is', tup1[7])

The value at the 7th index of tup1 is False

In [ ]:
tup1 = (1,4,5,2,4,12.3,74.2,4,True,12.3,False,12.3, 'Data', 'Science',12.3, 5j,9+8j)
print(tup1)
tup1.count(12.3)

(1, 4, 5, 2, 4, 12.3, 74.2, 4, True, 12.3, False, 12.3, 'Data', 'Science', 12.3, 5j, (9+8j))

4

In [ ]:
tup1 = (1,4,5,2,4,12.3,74.2,4,True,12.3,False,12.3, 'Data', 'Science',12.3, 5j,9+8j)
print(tup1)
#True = 1
#False = 0
tup1.index(True)
tup1.index(False)

10

In [ ]:
tup1 = (1,4,5,2,4,0,12.3,74.2,4,True,12.3,False,12.3, 'Data', 'Science',12.3, 5j,9+8j)
print(tup1)
#True = 1
#False = 0
tup1.index(True)
tup1.index(False)

(1, 4, 5, 2, 4, 0, 12.3, 74.2, 4, True, 12.3, False, 12.3, 'Data', 'Science', 12.3, 5j, (9+8j))

5

In [ ]:
tup1 = (5)
print(tup1)
print(type(tup1))

5
<class 'int'>

In [ ]:
tup1 = (5,)
print(tup1)
print(type(tup1))

(5,)
<class 'tuple'>

In [ ]:
tup1 = (4,1,2,5,6)
tup1*5

(4, 1, 2, 5, 6, 4, 1, 2, 5, 6, 4, 1, 2, 5, 6, 4, 1, 2, 5, 6, 4, 1, 2, 5, 6)

# Dictionary

Dictionary will always accept elements as a key & value pair, where the key & value are displayed with a colon between them:

key:value

We cannot have duplicated key, but values can be duplicated.

|Method|Description|
|------|-----------|
|clear()|Removes all the elements from the dictionary|
|copy()|Returns a copy of the dictionary|
|fromkeys()|Returns a dictionary with the specified keys and value|
|get()|Returns the value of the specified key|
|items()|Returns a list containing a tuple for each key value pair|
|keys()|Returns a list containing the dictionary's keys|
|pop()|Removes the element with the specified key|
|popitem()|Removes the last inserted key-value pair|
|setdefault()|Returns the value of the specified key. If the key does not exist: insert the key, with the specified value|
|update()|Updates the dictionary with the specified key-value pairs|
|values()|Returns a list of all the values in the dictionary|

In [ ]:
dict1 = {'Institute':'ExcelR', 'Building':'Akshaya Mansion', 'Floor': 3,
         'Classroom': 'Newton', 'Institute': 'ExcelR Edtech', 'Room No.': 3, 'Floor':4}
dict1

{'Institute': 'ExcelR Edtech',
 'Building': 'Akshaya Mansion',
 'Floor': 4,
 'Classroom': 'Newton',
 'Room No.': 3}

In [ ]:
dict1['Classroom']

'Newton'

In [ ]:
dict1['Institute']

'ExcelR Edtech'

In [ ]:
dict1[3]

KeyError: 3

In [ ]:
dict1 = {'Institute':'ExcelR', 'Building':'Akshaya Mansion', 'Floor': 3,
         'Classroom': 'Newton', 'Institute': 'ExcelR Edtech', 'Room No.': 3, 'Floor':4}
print(dict1)
dict1['Building'] = 'Safeway Plaza'
print(dict1)
dict1['Classroom'] = 'Aryabhatta'
print(dict1)
dict1['Area'] = 'BTM Layout'
print(dict1)

{'Institute': 'ExcelR Edtech', 'Building': 'Akshaya Mansion', 'Floor': 4, 'Classroom': 'Newton', 'Room No.': 3}
{'Institute': 'ExcelR Edtech', 'Building': 'Safeway Plaza', 'Floor': 4, 'Classroom': 'Newton', 'Room No.': 3}
{'Institute': 'ExcelR Edtech', 'Building': 'Safeway Plaza', 'Floor': 4, 'Classroom': 'Aryabhatta', 'Room No.': 3}
{'Institute': 'ExcelR Edtech', 'Building': 'Safeway Plaza', 'Floor': 4, 'Classroom': 'Aryabhatta', 'Room No.': 3, 'Area': 'BTM Layout'}

In [ ]:
dict1 = {'Institute':'ExcelR', 'Building':'Akshaya Mansion', 'Floor': 3,'Classroom': 'Newton'}
print(dict1)
dict1.keys()
list(dict1.keys())

{'Institute': 'ExcelR', 'Building': 'Akshaya Mansion', 'Floor': 3, 'Classroom': 'Newton'}

['Institute', 'Building', 'Floor', 'Classroom']

In [ ]:
dict1 = {'Institute':'ExcelR', 'Building':'Akshaya Mansion', 'Floor': 3,'Classroom': 'Newton'}
print(dict1)
dict1.values()
list(dict1.values())

{'Institute': 'ExcelR', 'Building': 'Akshaya Mansion', 'Floor': 3, 'Classroom': 'Newton'}

['ExcelR', 'Akshaya Mansion', 3, 'Newton']

In [ ]:
dict1 = {'Institute':'ExcelR', 'Building':'Akshaya Mansion', 'Floor': 3,'Classroom': 'Newton'}
print(dict1)
dict1.items()

{'Institute': 'ExcelR', 'Building': 'Akshaya Mansion', 'Floor': 3, 'Classroom': 'Newton'}

dict_items([('Institute', 'ExcelR'), ('Building', 'Akshaya Mansion'), ('Floor', 3), ('Classroom', 'Newton')])

In [ ]:
a = tuple(dict1.items())
a

(('Institute', 'ExcelR'),
 ('Building', 'Akshaya Mansion'),
 ('Floor', 3),
 ('Classroom', 'Newton'))

In [ ]:
a = list(dict1.items())
a

[('Institute', 'ExcelR'),
 ('Building', 'Akshaya Mansion'),
 ('Floor', 3),
 ('Classroom', 'Newton')]

In [ ]:
a[2]

('Floor', 3)

In [ ]:
dict1 = {'Institute':'ExcelR', 'Building':'Akshaya Mansion', 'Floor': 3,'Classroom': 'Newton'}
print(dict1)
print(dict1.popitem())
dict1.popitem()
print(dict1)

{'Institute': 'ExcelR', 'Building': 'Akshaya Mansion', 'Floor': 3, 'Classroom': 'Newton'}
('Classroom', 'Newton')
{'Institute': 'ExcelR', 'Building': 'Akshaya Mansion'}

In [ ]:
dict1 = {'Institute':'ExcelR', 'Building':'Akshaya Mansion', 'Floor': 3,'Classroom': 'Newton'}
print(dict1)
dict1.pop('Floor')
print(dict1)

{'Institute': 'ExcelR', 'Building': 'Akshaya Mansion', 'Floor': 3, 'Classroom': 'Newton'}
{'Institute': 'ExcelR', 'Building': 'Akshaya Mansion', 'Classroom': 'Newton'}

In [ ]:
dict1 = {'Institute':'ExcelR', 'Building':'Akshaya Mansion', 'Floor': 3,'Classroom': 'Newton'}
print(dict1)
dict1.setdefault('Area','BTM Layout')
print(dict1)
dict1.setdefault('Building','Malini Mansion')
print(dict1)

{'Institute': 'ExcelR', 'Building': 'Akshaya Mansion', 'Floor': 3, 'Classroom': 'Newton'}
{'Institute': 'ExcelR', 'Building': 'Akshaya Mansion', 'Floor': 3, 'Classroom': 'Newton', 'Area': 'BTM Layout'}
{'Institute': 'ExcelR', 'Building': 'Akshaya Mansion', 'Floor': 3, 'Classroom': 'Newton', 'Area': 'BTM Layout'}

In [ ]:
dict1 = {'Institute':'ExcelR', 'Building':'Akshaya Mansion', 'Classroom': 'Newton'}
print(dict1)
list1 = list(dict1.items())
print(list1)
list1.insert(1, ('Trainer','Neha'))
list1.insert(3, ('Floor', 3))
print(list1)
dict1 = dict(list1)
print(dict1)
# Add a new key value pair 'Trainer':'Neha' after 'Institute' key,
# & another key value pair 'Floor': 3 after 'Building' key.

{'Institute': 'ExcelR', 'Building': 'Akshaya Mansion', 'Classroom': 'Newton'}
[('Institute', 'ExcelR'), ('Building', 'Akshaya Mansion'), ('Classroom', 'Newton')]
[('Institute', 'ExcelR'), ('Trainer', 'Neha'), ('Building', 'Akshaya Mansion'), ('Floor', 3), ('Classroom', 'Newton')]
{'Institute': 'ExcelR', 'Trainer': 'Neha', 'Building': 'Akshaya Mansion', 'Floor': 3, 'Classroom': 'Newton'}

In [ ]:
dict1 = {'Institute':'ExcelR', 'Building':'Akshaya Mansion', 'Classroom': 'Newton'}
print(dict1)
dict1.clear()
print(dict1)

{'Institute': 'ExcelR', 'Building': 'Akshaya Mansion', 'Classroom': 'Newton'}
{}

In [ ]:
x = ['Rahul', 'Pradeep', 'Mithun']
y = 50
marks = dict.fromkeys(x,y)
marks

{'Rahul': 50, 'Pradeep': 50, 'Mithun': 50}

In [ ]:
dict1 = {'Institute':'ExcelR', 'Building':'Akshaya Mansion', 'Classroom': 'Newton'}
dict2 = {'Floor':3, 'Area': 'BTM Layout'}
print(dict1)
dict1.update(dict2)
print(dict1)

{'Institute': 'ExcelR', 'Building': 'Akshaya Mansion', 'Classroom': 'Newton'}
{'Institute': 'ExcelR', 'Building': 'Akshaya Mansion', 'Classroom': 'Newton', 'Floor': 3, 'Area': 'BTM Layout'}

In [ ]:
dict1={'Institute': 'ExcelR', 'Building': 'Akshaya Mansion', 'Classroom': 'Newton', 'Floor': 3, 'Area': 'BTM Layout'}
print(dict1)
dict1.get('Area')

'BTM Layout'

In [ ]:
dict1={'Institute': 'ExcelR', 'Building': 'Akshaya Mansion', 'Classroom': 'Newton', 'Floor': 3, 'Area': 'BTM Layout'}
dict2 = dict1.copy()
print(dict1)
print(dict2)
print(id(dict1))
print(id(dict2))
dict1['State'] = 'Karnataka'
print(dict1)
print(dict2)

In [ ]:
dict1={'Institute':'ExcelR','Building':'Akshaya Mansion','Classroom': 'Newton','Floor': 3,'Area': 'BTM Layout'}
dict2 = dict1
print(dict1)
print(dict2)
print(id(dict1))
print(id(dict2))
dict1['State'] = 'Karnataka'
print(dict1)
print(dict2)

In [ ]:
dict1 = {'Institute':'ExcelR','Building':'Akshaya Mansion','Classroom': 'Newton',
         'Address':{'Street':'27th Main', 'Area':'BTM Layout', 'Pincode':560068}}
print(dict1)
dict1['Address']['Pincode']

# Set

|Method|Description|
|------|-----------|
|add()|Adds an element to the set|
|clear()|Removes all the elements from the set|
|copy()|Returns a copy of the set|
|difference()|Returns a set containing the difference between two or more sets|
|difference_update()|Removes the items in this set that are also included in another, specified set|
|discard()|Remove the specified item|
|intersection()|Returns a set, that is the intersection of two or more sets|
|intersection_update()|Removes the items in this set that are not present in other, specified set(s)|
|isdisjoint()|Returns whether two sets have a intersection or not|
|issubset()|Returns whether another set contains this set or not|
|issuperset()|Returns whether this set contains another set or not|
|pop()|Removes an element from the set|
|remove()|Removes the specified element|
|symmetric_difference()|Returns a set with the symmetric differences of two sets|
|symmetric_difference_update()|inserts the symmetric differences from this set and another|
|union()|Return a set containing the union of sets|
|update()|Update the set with another set, or any other iterable|

In [ ]:
set1= {'Elephant','Monkey','Cat', 'Dog','Lion', 'Deer'}
print(set1)

{'Elephant', 'Cat', 'Dog', 'Deer', 'Monkey', 'Lion'}

In [ ]:
set1

{'Cat', 'Deer', 'Dog', 'Elephant', 'Lion', 'Monkey'}

In [ ]:
set1[2]

TypeError: 'set' object is not subscriptable

In [ ]:
set1= {'Elephant','Monkey','Cat', 'Dog','Lion', 'Deer'}
print(set1)
set1.add('Snake')
print(set1)
set1.add('Cat')
print(set1)

{'Elephant', 'Cat', 'Dog', 'Deer', 'Monkey', 'Lion'}
{'Elephant', 'Cat', 'Dog', 'Deer', 'Snake', 'Monkey', 'Lion'}
{'Elephant', 'Cat', 'Dog', 'Deer', 'Snake', 'Monkey', 'Lion'}

In [ ]:
set1= {'Elephant','Monkey','Cat', 'Dog','Lion', 'Deer'}
print(set1)
set1.remove('Dog')
print(set1)

{'Elephant', 'Cat', 'Dog', 'Deer', 'Monkey', 'Lion'}
{'Elephant', 'Cat', 'Deer', 'Monkey', 'Lion'}

In [ ]:
set1= {'Elephant','Monkey','Cat', 'Dog','Lion', 'Deer'}
print(set1)
set1.remove('Horse')
print(set1)

{'Elephant', 'Cat', 'Dog', 'Deer', 'Monkey', 'Lion'}

KeyError: 'Horse'

In [ ]:
set1= {'Elephant','Monkey','Cat', 'Dog','Lion', 'Deer'}
print(set1)
set1.discard('Deer')
print(set1)

{'Elephant', 'Cat', 'Dog', 'Deer', 'Monkey', 'Lion'}
{'Elephant', 'Cat', 'Dog', 'Monkey', 'Lion'}

In [ ]:
set1= {'Elephant','Monkey','Cat', 'Dog','Lion', 'Deer'}
print(set1)
set1.discard('Tiger')
print(set1)

{'Elephant', 'Cat', 'Dog', 'Deer', 'Monkey', 'Lion'}
{'Elephant', 'Cat', 'Dog', 'Deer', 'Monkey', 'Lion'}

In [ ]:
set1= {'Elephant','Monkey','Cat', 'Dog','Lion', 'Deer'}
print(set1)
set1.pop()
print(set1)

{'Elephant', 'Cat', 'Dog', 'Deer', 'Monkey', 'Lion'}
{'Cat', 'Dog', 'Deer', 'Monkey', 'Lion'}

In [ ]:
set1= {'Elephant','Monkey','Cat', 'Dog','Lion', 'Deer'}
print(set1)
set1.update({'Fish', 'Whale', 'Tortoise'})
print(set1)

{'Elephant', 'Cat', 'Dog', 'Deer', 'Monkey', 'Lion'}
{'Elephant', 'Cat', 'Whale', 'Deer', 'Fish', 'Monkey', 'Dog', 'Tortoise', 'Lion'}

In [ ]:
set1= {'Elephant','Monkey','Cat', 'Dog','Lion', 'Deer'}
print(set1)
set1.update({'Fish', 'Whale', 'Deer','Tortoise','Cat'})
print(set1)

{'Elephant', 'Cat', 'Dog', 'Deer', 'Monkey', 'Lion'}
{'Elephant', 'Cat', 'Whale', 'Deer', 'Fish', 'Monkey', 'Dog', 'Tortoise', 'Lion'}

In [ ]:
set1= {'Elephant','Monkey','Cat', 'Dog','Lion', 'Deer'}
print(set1)
set1.update(('Fish', 'Whale', 'Tortoise'))
print(set1)

{'Elephant', 'Cat', 'Dog', 'Deer', 'Monkey', 'Lion'}
{'Cat', 'Fish', 'Tortoise', 'Elephant', 'Whale', 'Deer', 'Monkey', 'Dog', 'Lion'}

In [ ]:
set1= {'Elephant','Monkey','Cat', ('Fish', 'Whale', 'Tortoise'),'Dog','Lion', 'Deer'}
print(set1)

{'Elephant', 'Cat', 'Dog', 'Deer', ('Fish', 'Whale', 'Tortoise'), 'Monkey', 'Lion'}

In [ ]:
set1= {'Elephant','elephant','Monkey','monkey','Cat','cat', 'Dog','dog','Lion','lion', 'Deer','deer'}
print(set1)
set1

{'Elephant', 'Cat', 'cat', 'lion', 'Deer', 'elephant', 'Monkey', 'deer', 'Dog', 'monkey', 'dog', 'Lion'}

{'Cat',
 'Deer',
 'Dog',
 'Elephant',
 'Lion',
 'Monkey',
 'cat',
 'deer',
 'dog',
 'elephant',
 'lion',
 'monkey'}

In [ ]:
set1 = {'Elephant','Monkey',['Fish', 'Whale', 'Tortoise'],'Cat', 'Dog','Lion', 'Deer'}
print(set1)

TypeError: unhashable type: 'list'

In [ ]:
set1 = {'Elephant','Monkey','Cat','Fish', 'Whale', 'Tortoise','Dog','Lion', 'Deer'}
set2 = {'Cat', 'Tiger', 'Monkey','Fish', 'Crocodile', 'Donkey', 'Lion'}
set1.union(set2)

{'Cat',
 'Crocodile',
 'Deer',
 'Dog',
 'Donkey',
 'Elephant',
 'Fish',
 'Lion',
 'Monkey',
 'Tiger',
 'Tortoise',
 'Whale'}

In [ ]:
set1 | set2

{'Cat',
 'Crocodile',
 'Deer',
 'Dog',
 'Donkey',
 'Elephant',
 'Fish',
 'Lion',
 'Monkey',
 'Tiger',
 'Tortoise',
 'Whale'}

In [ ]:
set1 = {'Elephant','Monkey','Cat','Fish', 'Whale', 'Tortoise','Dog','Lion', 'Deer'}
set2 = {'Cat', 'Tiger', 'Monkey','Fish', 'Crocodile', 'Donkey', 'Lion'}
set3 = {'Gorilla', 'Giraffe', 'Monkey','Snake', 'Cat'}
set1.union(set2,set3)

{'Cat',
 'Crocodile',
 'Deer',
 'Dog',
 'Donkey',
 'Elephant',
 'Fish',
 'Giraffe',
 'Gorilla',
 'Lion',
 'Monkey',
 'Snake',
 'Tiger',
 'Tortoise',
 'Whale'}

In [ ]:
set1 | set2 | set3

In [ ]:
set1 = {'Elephant','Monkey','Cat','Fish', 'Whale', 'Tortoise','Dog','Lion', 'Deer'}
set2 = {'Cat', 'Tiger', 'Monkey','Fish', 'Crocodile', 'Donkey', 'Lion'}
set1.intersection(set2)

{'Cat', 'Fish', 'Lion', 'Monkey'}

In [ ]:
set1 & set2

{'Cat', 'Fish', 'Lion', 'Monkey'}

In [ ]:
set1 = {'Elephant','Monkey','Cat','Fish', 'Whale', 'Tortoise','Dog','Lion', 'Deer'}
set2 = {'Cat', 'Tiger', 'Monkey','Fish', 'Crocodile', 'Donkey', 'Lion'}
set3 = {'Gorilla', 'Giraffe', 'Monkey','Snake', 'Cat'}
set1.intersection(set2,set3)

{'Cat', 'Monkey'}

In [ ]:
set1 & set2 & set3

{'Cat', 'Monkey'}

In [ ]:
set1 = {'Elephant','Monkey','Cat','Fish', 'Whale', 'Tortoise','Dog','Lion', 'Deer'}
set2 = {'Cat', 'Tiger', 'Monkey','Fish', 'Crocodile', 'Donkey', 'Lion'}
set1.difference(set2)

{'Deer', 'Dog', 'Elephant', 'Tortoise', 'Whale'}

In [ ]:
set1 - set2

{'Deer', 'Dog', 'Elephant', 'Tortoise', 'Whale'}

In [ ]:
set2 - set1

{'Crocodile', 'Donkey', 'Tiger'}

In [ ]:
set1 = {'Elephant','Monkey','Cat','Fish', 'Whale', 'Tortoise','Dog','Lion', 'Deer'}
set2 = {'Cat', 'Tiger', 'Monkey','Fish', 'Crocodile', 'Donkey', 'Lion'}
set3 = {'Gorilla', 'Giraffe', 'Monkey','Snake', 'Cat'}
set1.symmetric_difference(set2)

{'Crocodile',
 'Deer',
 'Dog',
 'Donkey',
 'Elephant',
 'Tiger',
 'Tortoise',
 'Whale'}

In [ ]:
set1 = {'Elephant','Monkey','Cat','Fish', 'Whale', 'Tortoise','Dog','Lion', 'Deer'}
set2 = {'Cat', 'Tiger', 'Monkey','Fish', 'Crocodile', 'Donkey', 'Lion'}
set3 = {'Gorilla', 'Giraffe', 'Monkey','Snake', 'Cat', 'Tiger', 'Whale', 'Dog'}
print('set1^set2', set1.symmetric_difference(set2))
print('set3',set3)
print('set1^set2^set3',set1.symmetric_difference(set2).symmetric_difference(set3))

set1^set2 {'Crocodile', 'Tortoise', 'Tiger', 'Donkey', 'Elephant', 'Whale', 'Deer', 'Dog'}
set3 {'Cat', 'Whale', 'Snake', 'Monkey', 'Gorilla', 'Giraffe', 'Dog', 'Tiger'}
set1^set2^set3 {'Elephant', 'Cat', 'Crocodile', 'Deer', 'Snake', 'Monkey', 'Gorilla', 'Giraffe', 'Tortoise', 'Donkey'}

Symmetric Difference will always consider only 2 sets at a time.

For example, we have 5 sets : Set1, Set2, Set3, Set4, Set5

So this is how it will calculate response for the command below:

Set1^Set2^Set3^Set4^Set5

- First it will find symm diff of set1 & set2 only. Save this response in a.
- In second iteration it will do symm diff a & set3, save this response in b.
- In third iteration, it will symm diff b & set4, save this response in c.
- In final iteration, it will symm diff c & set5.
That will be final response.

In [ ]:
set1 ^ set2

{'Crocodile',
 'Deer',
 'Dog',
 'Donkey',
 'Elephant',
 'Tiger',
 'Tortoise',
 'Whale'}

In [3]:
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Apple', 'Watermelon'}
print('______________________Before Intersection Update______________________')
print('Set1:', set1)
print('Set2:', set2)
print('__________________________________________________________________')
print('                                                                  ')
print('Output of set1.intersection(set2) :', set1.intersection(set2))
print("\n")
set1.intersection_update(set2)
print('                                                                  ')
print('______________________After Intersection Update______________________')
print('Set1:', set1)
print('Set2:', set2)

______________________Before Intersection Update______________________
Set1: {'Banana', 'Muskmelon', 'Apple', 'Chickoo', 'Mango'}
Set2: {'Grapes', 'Plum', 'Apple', 'Watermelon', 'Mango'}
__________________________________________________________________

Output of set1.intersection(set2) : {'Apple', 'Mango'}



______________________After Intersection Update______________________
Set1: {'Apple', 'Mango'}
Set2: {'Grapes', 'Plum', 'Apple', 'Watermelon', 'Mango'}

In [ ]:
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Apple', 'Watermelon'}
print('______________________Before Intersection Update______________________')
print('Set1', set1)
print('Set2', set2)
print('__________________________________________________________________')
print('                                                                  ')
print('Output of Intersection', set2.intersection(set1))
set2.intersection_update(set1)
print('                                                                  ')
print('______________________After Intersection Update______________________')
print('Set1', set1)
print('Set2', set2)

Set1 before intersection update {'Apple', 'Chickoo', 'Banana', 'Mango', 'Muskmelon'}
Set2 before intersection update {'Watermelon', 'Apple', 'Grapes', 'Plum', 'Mango'}
Output of Intersection {'Apple', 'Mango'}
----------------------------------
Set1 after intersection update {'Apple', 'Chickoo', 'Banana', 'Mango', 'Muskmelon'}
Set2 after intersection update {'Apple', 'Mango'}

In [4]:
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Apple', 'Watermelon'}
print('______________________Before Difference Update______________________')
print('Set1: ', set1)
print('Set2: ', set2)
print('__________________________________________________________________')
print('                                                                  ')
print('Output of set1.difference(set2)', set1.difference(set2))
set1.difference_update(set2)
print('                                                                  ')
print('______________________After Difference Update______________________')
print('Set1: ', set1)
print('Set2: ', set2)

______________________Before Difference Update______________________
Set1:  {'Banana', 'Muskmelon', 'Apple', 'Chickoo', 'Mango'}
Set2:  {'Grapes', 'Plum', 'Apple', 'Watermelon', 'Mango'}
__________________________________________________________________

Output of set1.difference(set2) {'Muskmelon', 'Chickoo', 'Banana'}

______________________After Difference Update______________________
Set1:  {'Banana', 'Muskmelon', 'Chickoo'}
Set2:  {'Grapes', 'Plum', 'Apple', 'Watermelon', 'Mango'}

In [5]:
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Apple', 'Watermelon'}
print('______________________Before Difference Update______________________')
print('Set1: ', set1)
print('Set2: ', set2)
print('__________________________________________________________________')
print('                                                                  ')
print('Output of set2.difference(set1) :', set2.difference(set1))
set2.difference_update(set1)
print('                                                                  ')
print('______________________After Difference Update______________________')
print('Set1: ', set1)
print('Set2: ', set2)

______________________Before Difference Update______________________
Set1:  {'Banana', 'Muskmelon', 'Apple', 'Chickoo', 'Mango'}
Set2:  {'Grapes', 'Plum', 'Apple', 'Watermelon', 'Mango'}
__________________________________________________________________

Output of set2.difference(set1) : {'Watermelon', 'Grapes', 'Plum'}

______________________After Difference Update______________________
Set1:  {'Banana', 'Muskmelon', 'Apple', 'Chickoo', 'Mango'}
Set2:  {'Grapes', 'Plum', 'Watermelon'}

In [6]:
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Apple', 'Watermelon'}
print('______________________Before Symmetric Difference Update______________________')
print('Set1: ', set1)
print('Set2: ', set2)
print('__________________________________________________________________')
print('                                                                  ')
print('Output of set1.symmetric_difference(set2) :', set1.symmetric_difference(set2))
set1.symmetric_difference_update(set2)
print('                                                                  ')
print('______________________After Symmetric Difference Update______________________')
print('Set1: ', set1)
print('Set2: ', set2)

______________________Before Symmetric Difference Update______________________
Set1:  {'Banana', 'Muskmelon', 'Apple', 'Chickoo', 'Mango'}
Set2:  {'Grapes', 'Plum', 'Apple', 'Watermelon', 'Mango'}
__________________________________________________________________

Output of set1.symmetric_difference(set2) : {'Banana', 'Grapes', 'Plum', 'Muskmelon', 'Watermelon', 'Chickoo'}

______________________After Symmetric Difference Update______________________
Set1:  {'Banana', 'Grapes', 'Plum', 'Muskmelon', 'Watermelon', 'Chickoo'}
Set2:  {'Grapes', 'Plum', 'Apple', 'Watermelon', 'Mango'}

In [23]:
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Apple', 'Watermelon'}
print('______________________Before Symmetric Difference Update______________________')
print('Set1', set1)
print('Set2', set2)
print('__________________________________________________________________')
print('                                                                  ')
print('Output of Symmetric Difference: ', set2.symmetric_difference(set1))
set2.symmetric_difference_update(set1)
print('\n')
print('______________________After Symmetric Difference Update______________________')
print('Set1', set1)
print('Set2', set2)

______________________Before Symmetric Difference Update______________________
Set1 {'Banana', 'Muskmelon', 'Apple', 'Chickoo', 'Mango'}
Set2 {'Grapes', 'Plum', 'Apple', 'Watermelon', 'Mango'}
__________________________________________________________________

Output of Symmetric Difference:  {'Banana', 'Grapes', 'Plum', 'Muskmelon', 'Watermelon', 'Chickoo'}


______________________After Symmetric Difference Update______________________
Set1 {'Banana', 'Muskmelon', 'Apple', 'Chickoo', 'Mango'}
Set2 {'Banana', 'Grapes', 'Plum', 'Muskmelon', 'Watermelon', 'Chickoo'}

In [24]:
# Apply ^= operator for symmetric_difference_update
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Apple', 'Watermelon'}
print('set1 before symmetric_difference_update :',set1)
print('set2 before symmetric_difference_update :',set2)
print('\n')
print('Output of set1 ^ set2 : ', set1 ^ set2)
set1 ^= set2
print('\n')
print('set1 after symmetric_difference_update :',set1)
print('set2 after symmetric_difference_update :',set2)

set1 before symmetric_difference_update : {'Banana', 'Muskmelon', 'Apple', 'Chickoo', 'Mango'}
set2 before symmetric_difference_update : {'Grapes', 'Plum', 'Apple', 'Watermelon', 'Mango'}


Output of set1 ^ set2 :  {'Banana', 'Grapes', 'Plum', 'Muskmelon', 'Watermelon', 'Chickoo'}


set1 after symmetric_difference_update : {'Banana', 'Grapes', 'Plum', 'Muskmelon', 'Watermelon', 'Chickoo'}
set2 after symmetric_difference_update : {'Grapes', 'Plum', 'Apple', 'Watermelon', 'Mango'}

In [25]:
# Apply -= operator for difference_update
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Apple', 'Watermelon'}
print('set1 before difference_update :',set1)
print('set2 before difference_update :',set2)
print('\n')
print('Output of set1 - set2 : ', set1 - set2)
set1 -= set2
print('\n')
print('set1 after difference_update :',set1)
print('set1 after difference_update :',set2)

set1 before difference_update : {'Banana', 'Muskmelon', 'Apple', 'Chickoo', 'Mango'}
set2 before difference_update : {'Grapes', 'Plum', 'Apple', 'Watermelon', 'Mango'}


Output of set1 - set2 :  {'Muskmelon', 'Chickoo', 'Banana'}


set1 after difference_update : {'Banana', 'Muskmelon', 'Chickoo'}
set1 after difference_update : {'Grapes', 'Plum', 'Apple', 'Watermelon', 'Mango'}

In [17]:
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon', 'Grapes', 'Plum', 'Watermelon'}
set2 = {'Plum', 'Apple', 'Watermelon'}
set3 = {'Mango', 'Orange', 'Chickoo'}

print('Is set2 a subset of set1? ->', set2.issubset(set1))
print('Is set3 a subset of set1? ->', set3.issubset(set1))
print('Is set1 a superset of set2? ->', set1.issuperset(set2))
print('Is set1 a superset of set3? ->', set1.issuperset(set3))

Is set2 a subset of set1? -> True
Is set3 a subset of set1? -> False
Is set1 a superset of set2? -> True
Is set1 a superset of set3? -> False

In [19]:
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon', 'Grapes', 'Plum', 'Watermelon'}
set2 = {'Plum', 'Apple', 'Watermelon'}
set3 = {'Mango', 'Orange', 'Chickoo'}

print('Is set2 a subset of set1? ->', set2 < set1)
print('Is set3 a subset of set1? ->', set3 < set1)
print('Is set1 a superset of set2? ->', set1 > set2)
print('Is set1 a superset of set3? ->', set1 > set3)

Is set2 a subset of set1? -> True
Is set3 a subset of set1? -> False
Is set1 a superset of set2? -> True
Is set1 a superset of set3? -> False

In [20]:
set1 = {'Blue', 'Red', 'Green'}
set2 = {'Green', 'Blue', 'Red'}
set1 == set2

True

In [21]:
set1 = {'Blue', 'Red', 'Pink'}
set2 = {'Green', 'Blue', 'Red'}
set1 == set2

False

In [30]:
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Grapes'}
set2 = {'Plum', 'Apple', 'Watermelon','Grapes'}
set3 = {'DragonFruit', 'Plum', 'Watermelon'}
print('Are set1 & set2 disjoint? (There no common element between the set1 & set2?)', set1.isdisjoint(set2))
print('Are set1 & set3 disjoint? (There no common element between the set1 & set3?)', set1.isdisjoint(set3))

Are set1 & set2 disjoint? (There no common element between the set1 & set2?) False
Are set1 & set3 disjoint? (There no common element between the set1 & set3?) True