# Python Programming Language

Python was founded by Guido van Rossum on February 20th, 1991

# Usages of Python
- Web development
- Software development
- Mathematics & Data Science/Analytics
- System Scripting

# What can Python do?
- Python can be used on a server to create web applications.
- Python can be used alongside software to create workflows.
- Python can connect to database systems. It can also read and modify files.
- Python can be used to handle big data and perform complex mathematics.
- Python can be used for rapid prototyping, or for production-ready software development.

# Why Python?
- Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
- Python has a simple syntax similar to the English language.
- Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
- Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
- Python can be treated in a procedural way, an object-oriented way or a functional way.

# Python Syntax compared to other programming languages
- Python was designed for readability, and has some similarities to the English language with influence from mathematics.
- Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
- Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

Python file extension:
Python Basics Data Analytics.ipynb

|Data Types:| Description|
|-----------|------------|
| Numerical:|Integer, Float, Complex, Binary|
| Character:|String/Object|
| Boollean: |True/False, 1/0|
| Date:     |Numerical/Character|


Data Structures:
- List
- Tuple
- Dictionary
- Set
- Array (NumPy)
- Series (Pandas)
- DataFrame (Pandas)

Libraries:
- NumPy (Numerical Calculations)
- Pandas (For data arranged in table)
- Matplotlib (Visualization)
- Seaborn (Visualization)
- Scipy Stats (For statistics)
- Scikit Learn (Machine Learning)
- NLTK & Spacy(Natural Language Processing)
- Tensorflow/Keras (Deep Learning)



| Item         | Price | # In stock |
|--------------|:-----:|-----------:|
| Apples       |  1.99 |        739 |
| Bananas      |  1.89 |          6 |


## Usage of brackets

- Box Bracket [] : To create a list, or to access any value from a list, tuple, dataframe, array, series or a key from a dictionary, after loc & iloc function in a dataframe.

- Curve Bracket () : To create a tuple, and for all the functions & methods, except loc & iloc are followed by curve bracket.

- Flower bracket {} : To create a dictionary or a set data structure.


# Object
Object is like an empty container, which can save any value or function. We can say that an object is a variable.

In [ ]:
data1 = 25
print = 13

In [ ]:
print(data1)

TypeError: 'int' object is not callable

In [ ]:
# Python is case sensitive, hence lower case object 'a' & upper case object 'A' are 2 different objects
a = 5
A = 9

In [ ]:
a

5

In [ ]:
A

9

If we want to call any object/function on any line other than the last line of the cell, we must apply the 'print' function.

In [ ]:
A = 7
B = 9
C = 8
A
B
C

8

In [ ]:
A = 7
B = 9
C = 8
print(A)
print(B)
print(C)

7
9
8

In [ ]:
x = 'Data Science'
print(x)
type(x)

Data Science

str

In [ ]:
print('The value of x is:', x, 'and x is a character variable')

The value of x is: Data Science and x is a character variable

In [ ]:
y = 12
print(y)
type(y)

12

int

In [ ]:
z = 12.6
print(z)
type(z)

12.6

float

In [ ]:
m = True
print(m)
type(m)

True

bool

In [ ]:
n = False
print(n)
type(n)

False

bool

In [ ]:
d = 5+3j
print(d)
type(d)

(5+3j)

complex

In [ ]:
today = '6th June 2024'
type(today)

str

In [ ]:
today = '06/06/2024'
type(today)

str

In [ ]:
today = 06/06/2024
type(today)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-24-e65e03bd3bb1>, line 1)

# Operators in Python
- Addition +
Used to add the values
- Subtraction -
Used to subtract the value from another
- Multiplication *
Used to multiply a value with another
- Division /
Used to divide a value by another
- Floor Division //
Will provide the whole number part of the quotient after dividing
- Power **
Will raise a number to another number
- Mod % Will provide the remainder after dividing a number with another

# Relational Operators
- Greater than or equal to >=
- Lesser than or equal to <=
- Lesser than <
- Greater than >
- Equal to ==
- Not equal to !=
- in
- not in

In [ ]:
9/4

2.25

In [ ]:
9//4

2

In [ ]:
2**4   #2*2*2*2

16

In [ ]:
9%5

4

In [ ]:
21%6

3

In [ ]:
a = 5
b = 8
a>=b

False

In [ ]:
a<=b

True

In [ ]:
a<b

True

In [ ]:
a>b

False

In [ ]:
a==b

False

In [ ]:
a!=b

True

# Difference Between Data Type & Data Structure
- Data type can be different for each single value, whether stored in an object or not. Every single value has its data type.
- Data Structure is an arrangement of multiple data values of different data types in a single object.

# Rules for the object name
- Never start an object name with a numeric value
- Never keep any space in object name
- Except underscore _, no other special character should be used in object name

# Python is Highly Case & Character Sensitive
# Python Follows Zero Indexation

# Difference between 'Function' & 'Method'?


# List Data Structure
Most dynamic data structure and accepts all types of data, which is mutable in all possible ways.

|Method|Description|
|------|-----------|
|append()|Adds an element at the end of the list|
|clear()|Removes all the elements from the list|
|copy()|Returns a copy of the list|
|count()|Returns the number of elements with the |specified value|
|extend()|Add the elements of a list (or any iterable), to the end of the current list
|index()|Returns the index of the first element with the specified value|
|insert()|Adds an element at the specified position|
|pop()|Removes the element at the specified position|
|remove()|Removes the item with the specified value|
|reverse()|Reverses the order of the list|
|sort()|Sorts the list|

In [ ]:
list1 = [1,2,3,5.6,1.4,5j,3+6j,True, False, 'Data', 'Analytics']
list1

[1, 2, 3, 5.6, 1.4, 5j, (3+6j), True, False, 'Data', 'Analytics']

In [ ]:
id(list1)

139102802252480

In [ ]:
list2

NameError: name 'list2' is not defined

In [ ]:
list1 = [5,8,6,5.6,1.4,5j,3+6j,True, False, 'Data', 'Analytics']
print(list1)

[5, 8, 6, 5.6, 1.4, 5j, (3+6j), True, False, 'Data', 'Analytics']

In [ ]:
#What is the value at index 6 of list1?
list1[6]

(3+6j)

In [ ]:
list1 = [5,8,6,5.6,1.4,[7,3,1,25.1,True,'Neha'],5j,3+6j,True, False, 'Data', 'Analytics']
print(list1)

[5, 8, 6, 5.6, 1.4, [7, 3, 1, 25.1, True, 'Neha'], 5j, (3+6j), True, False, 'Data', 'Analytics']

In [ ]:
list1[5][3]

25.1

In [ ]:
list1[-2]

'Data'

In [ ]:
list1[10]

'Data'

In [ ]:
list1[-2] == list1[10]

True

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,9,8,7,6,5,4,3,2,1]
#To call elements from 3rd index to the end of list
list1[3:]

[4, 5, 6, 7, 8, 9, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#To call elements from 0th index to the 8th index
list1[:9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#To call elements from 3rd index to the 10th (11-1) index
list1[3:11]

[4, 5, 6, 7, 8, 9, 9, 8]

In [ ]:
print(list1)
print(list1[1:13])
list1[1:13:2]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[2, 3, 4, 5, 6, 7, 8, 9, 9, 8, 7, 6]

[2, 4, 6, 8, 9, 7]

In [ ]:
len(list1)

18

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,9,8,7,6,5,4,3,2,1]
list1[-1:-9:-2]

[1, 3, 5, 7]

In [ ]:
list1[-1:-9:-1]

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
list1[-1:-9]

[]

In [ ]:
list1 = [1,2,3,4,5,6,6,5,4,3,7,8,9,9,8,7,6,5,4,3,6,5,4,3,2,1]
print(list1)
list1.append(10)
print(list1)
list1.append('Data')
print(list1)

[1, 2, 3, 4, 5, 6, 6, 5, 4, 3, 7, 8, 9, 9, 8, 7, 6, 5, 4, 3, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 6, 5, 4, 3, 7, 8, 9, 9, 8, 7, 6, 5, 4, 3, 6, 5, 4, 3, 2, 1, 10]
[1, 2, 3, 4, 5, 6, 6, 5, 4, 3, 7, 8, 9, 9, 8, 7, 6, 5, 4, 3, 6, 5, 4, 3, 2, 1, 10, 'Data']

In [ ]:
list1 = [1,2,3,4,5,6,6,5,4,3,7,8,9,9,8,7,6,5,4,3,6,5,4,3,2,1]
print(list1)
list1.remove(5)
print(list1)

[1, 2, 3, 4, 5, 6, 6, 5, 4, 3, 7, 8, 9, 9, 8, 7, 6, 5, 4, 3, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 6, 6, 5, 4, 3, 7, 8, 9, 9, 8, 7, 6, 5, 4, 3, 6, 5, 4, 3, 2, 1]

In [ ]:
list1 = [31,2,'Data',23,4,'Data',5,36,6,'Data',5,47,3,6,'Data']
print(list1)
print('The element at the 5th index is: ',list1[5])
list1.remove(list1[5])
print(list1)
#Please notice, it has removed the first occurrence of 'Data', which was at the 2nd index, and not the one at 5th index

[31, 2, 'Data', 23, 4, 'Data', 5, 36, 6, 'Data', 5, 47, 3, 6, 'Data']
The element at the 5th index is:  Data
[31, 2, 23, 4, 'Data', 5, 36, 6, 'Data', 5, 47, 3, 6, 'Data']

In [ ]:
list1 = [1,5,8,6,'Bangalore', 560068, 'Goa', 403603]
print(list1)
list1.insert(3, 'Karnataka')
print(list1)
list1.insert(5, [5,4,8,9,6])
print(list1)
print(list1[5])
list1[5].insert(4, 10)
print(list1)

[1, 5, 8, 6, 'Bangalore', 560068, 'Goa', 403603]
[1, 5, 8, 'Karnataka', 6, 'Bangalore', 560068, 'Goa', 403603]
[1, 5, 8, 'Karnataka', 6, [5, 4, 8, 9, 6], 'Bangalore', 560068, 'Goa', 403603]
[5, 4, 8, 9, 6]
[1, 5, 8, 'Karnataka', 6, [5, 4, 8, 9, 10, 6], 'Bangalore', 560068, 'Goa', 403603]

In [ ]:
list1 = [1,5,8,6,'Bangalore', 560068, 'Goa', 403603]
print(list1)
list1.pop()
print(list1)
list1.pop(3)
print(list1)

[1, 5, 8, 6, 'Bangalore', 560068, 'Goa', 403603]
[1, 5, 8, 6, 'Bangalore', 560068, 'Goa']
[1, 5, 8, 'Bangalore', 560068, 'Goa']

In [ ]:
list1 = [1,5,8,6,'Bangalore', 560068, 'Goa', 403603]
print(list1)
list1.reverse()
print(list1)

[1, 5, 8, 6, 'Bangalore', 560068, 'Goa', 403603]
[403603, 'Goa', 560068, 'Bangalore', 6, 8, 5, 1]

list1 = [1,5,8,6,'Bangalore', 560068, 'Goa', 403603]

Reverse the elements only between 'Bangalore' to 'Goa'

Desired output:
list1 = [1,5,8,6,'Goa',560068,'Bangalore',403603]

In [ ]:
list1 = [1,5,8,6,'Bangalore', 560068, 'Goa', 403603]
print(list1)
list2 = list1[4:7]
list2.reverse()
list1[4:7] = list2
print(list1)

[1, 5, 8, 6, 'Bangalore', 560068, 'Goa', 403603]
[1, 5, 8, 6, 'Goa', 560068, 'Bangalore', 403603]

In [ ]:
list1 = [1,5,8,6,'Bangalore', 560068, 'Goa', 403603]
print(list1)
print(list1[4:7][::-1])
list1[4:7]= list1[4:7][::-1]
print(list1)

[1, 5, 8, 6, 'Bangalore', 560068, 'Goa', 403603]
['Goa', 560068, 'Bangalore']

In [ ]:
list1=[2,'ExcelR',1,4,5,3,'Science',6,9,8,7,'Data']
print(list1)
list1.sort()

[2, 'ExcelR', 1, 4, 5, 3, 'Science', 6, 9, 8, 7, 'Data']

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
list1=[2,1,4,5,3,6,9,8,7]
print(list1)
list1.sort()
print(list1)

[2, 1, 4, 5, 3, 6, 9, 8, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1=[2,1,4,5,3,6,9,8,7]
print(list1)
list1.sort(reverse=True)
print(list1)

[2, 1, 4, 5, 3, 6, 9, 8, 7]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
list1 = ['Rahul', 'Harsh', 'Abhishek', 'Bhavna', 'Rishi', 'Anchal', 'Saurabh', 'Nikhil']
print(list1)
list1.sort()
print(list1)
list1.sort(reverse=True)
print(list1)

['Rahul', 'Harsh', 'Abhishek', 'Bhavna', 'Rishi', 'Anchal', 'Saurabh', 'Nikhil']
['Abhishek', 'Anchal', 'Bhavna', 'Harsh', 'Nikhil', 'Rahul', 'Rishi', 'Saurabh']
['Saurabh', 'Rishi', 'Rahul', 'Nikhil', 'Harsh', 'Bhavna', 'Anchal', 'Abhishek']

In [ ]:
list1 = ['Rahul', 'Harsh', 'abhishek', 'Bhavna', 'rishi', 'Anchal', 'Saurabh', 'nikhil']
print(list1)
list1.sort()
print(list1)
list1.sort(reverse=True)
print(list1)

['Rahul', 'Harsh', 'abhishek', 'Bhavna', 'rishi', 'Anchal', 'Saurabh', 'nikhil']
['Anchal', 'Bhavna', 'Harsh', 'Rahul', 'Saurabh', 'abhishek', 'nikhil', 'rishi']
['rishi', 'nikhil', 'abhishek', 'Saurabh', 'Rahul', 'Harsh', 'Bhavna', 'Anchal']

In [ ]:
list1=[2,'ExcelR',1,4,5,3,'Science',6,9,8,7,'Data']
list2=[7,2,'Bangalore', 'Goa', 'Mysore',12.3,7.6]
print(list1)
print(list2)
list1.extend(list2)
print('------------After Extending---------------')
print(list1)
print(list2)

[2, 'ExcelR', 1, 4, 5, 3, 'Science', 6, 9, 8, 7, 'Data']
[7, 2, 'Bangalore', 'Goa', 'Mysore', 12.3, 7.6]
------------After Extending---------------
[2, 'ExcelR', 1, 4, 5, 3, 'Science', 6, 9, 8, 7, 'Data', 7, 2, 'Bangalore', 'Goa', 'Mysore', 12.3, 7.6]
[7, 2, 'Bangalore', 'Goa', 'Mysore', 12.3, 7.6]

In [ ]:
list1=[2,'ExcelR',1,4,5,3,'Science',6,9,8,7,'Data']
list2=[7,2,'Bangalore', 'Goa', 'Mysore',12.3,7.6]
print(list1)
print(list2)
list2.extend(list1)
print('------------After Extending---------------')
print(list1)
print(list2)

[2, 'ExcelR', 1, 4, 5, 3, 'Science', 6, 9, 8, 7, 'Data']
[7, 2, 'Bangalore', 'Goa', 'Mysore', 12.3, 7.6]
------------After Extending---------------
[2, 'ExcelR', 1, 4, 5, 3, 'Science', 6, 9, 8, 7, 'Data']
[7, 2, 'Bangalore', 'Goa', 'Mysore', 12.3, 7.6, 2, 'ExcelR', 1, 4, 5, 3, 'Science', 6, 9, 8, 7, 'Data']

In [ ]:
list1= [5,2,1,4,5]
print(list1)
list1.extend([6,4,1,2])
print(list1)
list1.append([6,4,1,2])
print(list1)

[5, 2, 1, 4, 5]
[5, 2, 1, 4, 5, 6, 4, 1, 2]
[5, 2, 1, 4, 5, 6, 4, 1, 2, [6, 4, 1, 2]]

In [ ]:
[4,9,6,3,2,5] + [7,4,1,5,8,9]

[4, 9, 6, 3, 2, 5, 7, 4, 1, 5, 8, 9]

In [ ]:
#To get the frequency of an element in a list
list1=[2,'ExcelR',1,4,5,'Science',4, 9, 'Science',6, 3, 2, 5, 7, 9,3,'Science',6,9,8,7,'Data']
list1.count('Science')

3

In [ ]:
list1.count(4)

2

In [ ]:
#To get the total number of elements in the list
len(list1)

22

In [ ]:
list1=[2,'ExcelR',1,4,5,'Science',4, 9, 'Science',6, 3, 2, 5, 7]
list1.index('Science')

5

In [ ]:
# What is the index of the element 'Science' in the index range of 7 to 11
list1=[2,'ExcelR',1,4,5,'Science',4, 9, 'Science',6, 3, 2, 5, 7]
print(list1[7:12])
list1.index('Science', 7, 12)

[9, 'Science', 6, 3, 2]

8

In [ ]:
list1.index('Data', 7, 12)

ValueError: 'Data' is not in list

In [ ]:
list1=[2,'ExcelR',1,4,5,'Science',4, 9, 'Science',6, 3, 2, 5, 7]
print(list1)
list1.clear()
print(list1)

[2, 'ExcelR', 1, 4, 5, 'Science', 4, 9, 'Science', 6, 3, 2, 5, 7]
[]

In [ ]:
list1=[2,'ExcelR',1,4,5,'Science',4, 9, 'Science',6, 3, 2, 5, 7]
print('list1 is', list1)
print(id(list1))
list2 = list1.copy()
print('list2 is',list2)
print(id(list2))

list1 is [2, 'ExcelR', 1, 4, 5, 'Science', 4, 9, 'Science', 6, 3, 2, 5, 7]
139569711034432
list2 is [2, 'ExcelR', 1, 4, 5, 'Science', 4, 9, 'Science', 6, 3, 2, 5, 7]
139569711036736

In [ ]:
print(list1)
print(list2)
list1.insert(3, 'Bangalore')
print(list1)
print(list2)

[2, 'ExcelR', 1, 4, 5, 'Science', 4, 9, 'Science', 6, 3, 2, 5, 7]
[2, 'ExcelR', 1, 4, 5, 'Science', 4, 9, 'Science', 6, 3, 2, 5, 7]
[2, 'ExcelR', 1, 'Bangalore', 4, 5, 'Science', 4, 9, 'Science', 6, 3, 2, 5, 7]
[2, 'ExcelR', 1, 4, 5, 'Science', 4, 9, 'Science', 6, 3, 2, 5, 7]

In [ ]:
list1=[2,'ExcelR',1,4,5,'Science',4, 9, 'Science',6, 3, 2, 5, 7]
list3 = list1
print('list3 is', list3)
print(list1)
print(list3)
print(id(list1))
print(id(list3))
list1.insert(3, 'Bangalore')
print(list1)
print(list3)

list3 is [2, 'ExcelR', 1, 4, 5, 'Science', 4, 9, 'Science', 6, 3, 2, 5, 7]
[2, 'ExcelR', 1, 4, 5, 'Science', 4, 9, 'Science', 6, 3, 2, 5, 7]
[2, 'ExcelR', 1, 4, 5, 'Science', 4, 9, 'Science', 6, 3, 2, 5, 7]
139569711033024
139569711033024
[2, 'ExcelR', 1, 'Bangalore', 4, 5, 'Science', 4, 9, 'Science', 6, 3, 2, 5, 7]
[2, 'ExcelR', 1, 'Bangalore', 4, 5, 'Science', 4, 9, 'Science', 6, 3, 2, 5, 7]

In [ ]:
list1 = [2,5,8,9,6,3,4]
5 in list1

True

In [ ]:
11 in list1

False

In [ ]:
8 not in list1

False

In [ ]:
12 not in list1

True

# Tuple

Tuple is an immutable data structure. So once a tuple is created, we cannot make any modifications to it, like adding elements, deleting elements or even replacing elements.

In [ ]:
tup1 = (4,8,9,12.4,78.5, True, False, 5+6j, 8j, 'Data', 'Bangalore')
tup1

(4, 8, 9, 12.4, 78.5, True, False, (5+6j), 8j, 'Data', 'Bangalore')

In [ ]:
tup1[3]

12.4

In [ ]:
tup1[3]= 'Modified Value'

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup1= (5,2,3,4,8,9,6,3,5,7,4,1,2)
#To find the frequency of the value 3 in the tuple
tup1.count(3)

2

In [ ]:
#To find the frequency of the value 2 in the tuple
tup1.count(2)

2

In [ ]:
#To find the index of the value 9 in the tuple
tup1.index(9)

5

In [ ]:
print(tup1)
tup1[2:9]

(5, 2, 3, 4, 8, 9, 6, 3, 5, 7, 4, 1, 2)

(3, 4, 8, 9, 6, 3, 5)

In [ ]:
tup1[2:9:2]

(3, 8, 6, 5)

In [ ]:
tup1 = (6)
print(tup1)
type(tup1)

6

int

In [ ]:
tup1 = (6,)
print(tup1)
type(tup1)

(6,)

tuple

In [ ]:
tup1 = (5,7,8,9,6,3)
tup2 = (4,1,2,5,6)
tup3 = tup1 + tup2
print(tup1)
print(tup2)
print(tup3)

(5, 7, 8, 9, 6, 3)
(4, 1, 2, 5, 6)
(5, 7, 8, 9, 6, 3, 4, 1, 2, 5, 6)

In [ ]:
min(tup3)

1

In [ ]:
max(tup3)

9

In [ ]:
print(tup1)
tup1 * 3

(5, 7, 8, 9, 6, 3)

(5, 7, 8, 9, 6, 3, 5, 7, 8, 9, 6, 3, 5, 7, 8, 9, 6, 3)

# Dictionary

Dictionary will always accept elements as a key & value pair, where the key & value are displayed with a colon between them:

key:value

We cannot have duplicated key, but values can be duplicated.

|Method|Description|
|------|-----------|
|clear()|Removes all the elements from the dictionary|
|copy()|Returns a copy of the dictionary|
|fromkeys()|Returns a dictionary with the specified keys and value|
|get()|Returns the value of the specified key|
|items()|Returns a list containing a tuple for each key value pair|
|keys()|Returns a list containing the dictionary's keys|
|pop()|Removes the element with the specified key|
|popitem()|Removes the last inserted key-value pair|
|setdefault()|Returns the value of the specified key. If the key does not exist: insert the key, with the specified value|
|update()|Updates the dictionary with the specified key-value pairs|
|values()|Returns a list of all the values in the dictionary|

In [ ]:
dict1 = {'Name' : 'ExcelR', 'Building' : 'Safeway Plaza', 'Floor': 3,
         'Area' : 'BTM Layout', 'Name': 'ExcelR Edtech', 'No. of Buildings' : 3}
dict1

{'Name': 'ExcelR Edtech',
 'Building': 'Safeway Plaza',
 'Floor': 3,
 'Area': 'BTM Layout',
 'No. of Classrooms': 3}

In [ ]:
type(dict1)

dict

In [ ]:
dict2= {}
type(dict2)

dict

In [ ]:
a = {4,5,6,3,2,1}
type(a)

set

In [ ]:
dict1 = {'Name' : 'ExcelR', 'Building' : 'Safeway Plaza', 'Floor': 3, 'Area' : 'BTM Layout'}
print(dict1)
dict1['City'] = 'Bangalore'
print(dict1)
dict1['State'] = 'Karnataka'
print(dict1)

{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 3, 'Area': 'BTM Layout'}
{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 3, 'Area': 'BTM Layout', 'City': 'Bangalore'}
{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 3, 'Area': 'BTM Layout', 'City': 'Bangalore', 'State': 'Karnataka'}

In [ ]:
dict1['Building']

'Safeway Plaza'

In [ ]:
dict1.keys()

dict_keys(['Name', 'Building', 'Floor', 'Area', 'City', 'State'])

In [ ]:
dict1.values()

dict_values(['ExcelR', 'Safeway Plaza', 3, 'BTM Layout', 'Bangalore', 'Karnataka'])

In [ ]:
dict1['ExcelR']

KeyError: 'ExcelR'

In [ ]:
dict2 = {1 : [1,2,3], 2 : (4,5,6), 3 : {'Name': 'Neha', 'City': 'Banglore'}}
dict2

{1: [1, 2, 3], 2: (4, 5, 6), 3: {'Name': 'Neha', 'City': 'Banglore'}}

In [ ]:
dict2[3]['Name']

'Neha'

In [ ]:
dict1={'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 3, 'Area': 'BTM Layout'}
dict2={'Floor': 2 ,'City': 'Bangalore', 'State': 'Karnataka', 'Pincode': 560068}
print(dict1)
print(dict2)
dict1.update(dict2)
print(dict1)
print(dict2)

{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 3, 'Area': 'BTM Layout'}
{'Floor': 2, 'City': 'Bangalore', 'State': 'Karnataka', 'Pincode': 560068}
{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 2, 'Area': 'BTM Layout', 'City': 'Bangalore', 'State': 'Karnataka', 'Pincode': 560068}
{'Floor': 2, 'City': 'Bangalore', 'State': 'Karnataka', 'Pincode': 560068}

In [ ]:
dict1 = {'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 2, 'Area': 'BTM Layout', 'City': 'Bangalore',
         'State': 'Karnataka', 'Pincode': 560068}
print(dict1)
dict1.pop('Floor')
print(dict1)
dict1.pop('State')
print(dict1)

{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 2, 'Area': 'BTM Layout', 'City': 'Bangalore', 'State': 'Karnataka', 'Pincode': 560068}
{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Area': 'BTM Layout', 'City': 'Bangalore', 'State': 'Karnataka', 'Pincode': 560068}
{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Area': 'BTM Layout', 'City': 'Bangalore', 'Pincode': 560068}

In [ ]:
print(dict1)
dict1.popitem()
print(dict1)

{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Area': 'BTM Layout', 'City': 'Bangalore', 'Pincode': 560068}
{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Area': 'BTM Layout', 'City': 'Bangalore'}

In [ ]:
dict1 = {'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 2, 'Area': 'BTM Layout', 'City': 'Bangalore',
         'State': 'Karnataka', 'Pincode': 560068}
print(dict1)
dict1.items()

{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 2, 'Area': 'BTM Layout', 'City': 'Bangalore', 'State': 'Karnataka', 'Pincode': 560068}

dict_items([('Name', 'ExcelR'), ('Building', 'Safeway Plaza'), ('Floor', 2), ('Area', 'BTM Layout'), ('City', 'Bangalore'), ('State', 'Karnataka'), ('Pincode', 560068)])

In [ ]:
list(dict1.items())

[('Name', 'ExcelR'),
 ('Building', 'Safeway Plaza'),
 ('Floor', 2),
 ('Area', 'BTM Layout'),
 ('City', 'Bangalore'),
 ('State', 'Karnataka'),
 ('Pincode', 560068)]

Add a new key:value pair, after 'Floor' key and before 'Area' as shown -> 'Class': 'Darwin'

In [ ]:
dict1 = {'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 2, 'Area': 'BTM Layout', 'City': 'Bangalore',
         'State': 'Karnataka', 'Pincode': 560068}
print(dict1)
list1 = list(dict1.items())
print(list1)
list1.insert(3, ('Class', 'Darwin'))
print(list1)
dict1 = dict(list1)
print(dict1)

{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 2, 'Area': 'BTM Layout', 'City': 'Bangalore', 'State': 'Karnataka', 'Pincode': 560068}
[('Name', 'ExcelR'), ('Building', 'Safeway Plaza'), ('Floor', 2), ('Area', 'BTM Layout'), ('City', 'Bangalore'), ('State', 'Karnataka'), ('Pincode', 560068)]
[('Name', 'ExcelR'), ('Building', 'Safeway Plaza'), ('Floor', 2), ('Class', 'Darwin'), ('Area', 'BTM Layout'), ('City', 'Bangalore'), ('State', 'Karnataka'), ('Pincode', 560068)]
{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 2, 'Class': 'Darwin', 'Area': 'BTM Layout', 'City': 'Bangalore', 'State': 'Karnataka', 'Pincode': 560068}

In [ ]:
dict1={'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 2, 'Class': 'Darwin', 'Area': 'BTM Layout',
       'City': 'Bangalore', 'State': 'Karnataka', 'Pincode': 560068}
print(dict1)
dict1.clear()
print(dict1)

{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 2, 'Class': 'Darwin', 'Area': 'BTM Layout', 'City': 'Bangalore', 'State': 'Karnataka', 'Pincode': 560068}
{}

In [ ]:
alphabets = ['a','e','i','o','u']
value = 'Vowel'
vowels = dict.fromkeys(alphabets,value)
vowels

{'a': 'Vowel', 'e': 'Vowel', 'i': 'Vowel', 'o': 'Vowel', 'u': 'Vowel'}

In [ ]:
dict1={'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 2, 'Class': 'Darwin', 'Area': 'BTM Layout',
       'City': 'Bangalore', 'State': 'Karnataka', 'Pincode': 560068}
print(dict1)
dict1.setdefault('Trainer', 'Neha')
print(dict1)
dict1.setdefault('Class', 'Aryabhatta')
print(dict1)

{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 2, 'Class': 'Darwin', 'Area': 'BTM Layout', 'City': 'Bangalore', 'State': 'Karnataka', 'Pincode': 560068}
{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 2, 'Class': 'Darwin', 'Area': 'BTM Layout', 'City': 'Bangalore', 'State': 'Karnataka', 'Pincode': 560068, 'Trainer': 'Neha'}
{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 2, 'Class': 'Darwin', 'Area': 'BTM Layout', 'City': 'Bangalore', 'State': 'Karnataka', 'Pincode': 560068, 'Trainer': 'Neha'}

In [ ]:
dict1.get('Building')

'Safeway Plaza'

In [ ]:
dict1['Building']

'Safeway Plaza'

In [ ]:
dict1={'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 2, 'Class': 'Darwin', 'Area': 'BTM Layout',
       'City': 'Bangalore', 'State': 'Karnataka', 'Pincode': 560068}
print(dict1)
dict1['Class'] = 'Aryabhatta'
print(dict1)

{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 2, 'Class': 'Darwin', 'Area': 'BTM Layout', 'City': 'Bangalore', 'State': 'Karnataka', 'Pincode': 560068}
{'Name': 'ExcelR', 'Building': 'Safeway Plaza', 'Floor': 2, 'Class': 'Aryabhatta', 'Area': 'BTM Layout', 'City': 'Bangalore', 'State': 'Karnataka', 'Pincode': 560068}

In [ ]:
list1 = [5,2,1,4,8,9,6,5]
print(list1)
list1[3] = 10
print(list1)

[5, 2, 1, 4, 8, 9, 6, 5]
[5, 2, 1, 10, 8, 9, 6, 5]

# Set

|Method|Description|
|------|-----------|
|add()|Adds an element to the set|
|clear()|Removes all the elements from the set|
|copy()|Returns a copy of the set|
|difference()|Returns a set containing the difference between two or more sets|
|difference_update()|Removes the items in this set that are also included in another, specified set|
|discard()|Remove the specified item|
|intersection()|Returns a set, that is the intersection of two or more sets|
|intersection_update()|Removes the items in this set that are not present in other, specified set(s)|
|isdisjoint()|Returns whether two sets have a intersection or not|
|issubset()|Returns whether another set contains this set or not|
|issuperset()|Returns whether this set contains another set or not|
|pop()|Removes an element from the set|
|remove()|Removes the specified element|
|symmetric_difference()|Returns a set with the symmetric differences of two sets|
|symmetric_difference_update()|inserts the symmetric differences from this set and another|
|union()|Return a set containing the union of sets|
|update()|Update the set with another set, or any other iterable|

In [ ]:
set1 = {'Apple', 'Mango', 'Chickoo', 'Watermelon', 'Plum', 'Mango'}
print(set1)
set1

{'Plum', 'Mango', 'Apple', 'Chickoo', 'Watermelon'}

{'Apple', 'Chickoo', 'Mango', 'Plum', 'Watermelon'}

In [ ]:
set1 = {'Apple', 20,'Mango', 15, 'Chickoo', 'Watermelon', 12.3, 'Plum', 'Mango'}
print(set1)
set1

{'Apple', 12.3, 'Watermelon', 15, 'Plum', 20, 'Chickoo', 'Mango'}

{12.3, 15, 20, 'Apple', 'Chickoo', 'Mango', 'Plum', 'Watermelon'}

In [ ]:
set1 = {'Apple', 20,'Mango', 15, 'Chickoo', 'Watermelon', 12.3, 'Plum', 'Mango'}
print(set1)
set1.add('Papaya')
print(set1)

{'Apple', 12.3, 'Watermelon', 15, 'Plum', 20, 'Chickoo', 'Mango'}
{'Apple', 12.3, 'Watermelon', 15, 'Plum', 20, 'Chickoo', 'Papaya', 'Mango'}

In [ ]:
#Set structure does not have any indexation, so it is not possible to call any element with its index.
set1[5]

TypeError: 'set' object is not subscriptable

In [ ]:
set1 = {'Apple', 20,'Mango', 15, 'Chickoo', 'Watermelon', 12.3, 'Plum', 'Mango'}
print(set1)
set1.discard('Watermelon')
print(set1)

{'Apple', 12.3, 'Watermelon', 15, 'Plum', 20, 'Chickoo', 'Mango'}
{'Apple', 12.3, 15, 'Plum', 20, 'Chickoo', 'Mango'}

In [ ]:
set1 = {'Apple', 20,'Mango', 15, 'Chickoo', 'Watermelon', 12.3, 'Plum', 'Mango'}
print(set1)
set1.discard('Grapes')
print(set1)

{'Apple', 12.3, 'Watermelon', 15, 'Plum', 20, 'Chickoo', 'Mango'}
{'Apple', 12.3, 'Watermelon', 15, 'Plum', 20, 'Chickoo', 'Mango'}

In [ ]:
set1 = {'Apple', 20,'Mango', 15, 'Chickoo', 'Watermelon', 12.3, 'Plum', 'Mango'}
print(set1)
set1.remove('Plum')
print(set1)

{'Apple', 12.3, 'Watermelon', 15, 'Plum', 20, 'Chickoo', 'Mango'}
{'Apple', 12.3, 'Watermelon', 15, 20, 'Chickoo', 'Mango'}

In [ ]:
set1 = {'Apple', 20,'Mango', 15, 'Chickoo', 'Watermelon', 12.3, 'Plum', 'Mango'}
print(set1)
set1.remove('Papaya')
print(set1)

{'Apple', 12.3, 'Watermelon', 15, 'Plum', 20, 'Chickoo', 'Mango'}

KeyError: 'Papaya'

In [ ]:
set1 = {'Apple', 20,'Mango', 15, 'Chickoo', 'Watermelon', 12.3, 'Plum', 'Mango'}
print(set1)
set1.pop()
print(set1)

{'Apple', 12.3, 'Watermelon', 15, 'Plum', 20, 'Chickoo', 'Mango'}
{12.3, 'Watermelon', 15, 'Plum', 20, 'Chickoo', 'Mango'}

In [ ]:
set1 = {'Apple', 20,'Mango', 15, 'Chickoo', 'Watermelon', 12.3, 'Plum', 'Mango'}
print(set1)
set1.clear()
print(set1)

{'Apple', 12.3, 'Watermelon', 15, 'Plum', 20, 'Chickoo', 'Mango'}
set()

In [ ]:
set1 = {'Apple', 20,'Mango', 15, 'Chickoo', 'Watermelon', 12.3, 'Plum', 'Mango'}
print(set1)
print(id(set1))
set2 = set1.copy()
print(set2)
print(id(set2))

{'Apple', 12.3, 'Watermelon', 15, 'Plum', 20, 'Chickoo', 'Mango'}
133825720861408
{'Apple', 12.3, 'Watermelon', 15, 'Plum', 20, 'Chickoo', 'Mango'}
133825720863424

In [ ]:
list1 = ['Apple', 'Mango', 'Banana', 'papaya', 'Chickoo', 'Muskmelon']
list2 = ['Mango', 'Grapes', 'Plum', 'Papaya', 'Apple', 'Watermelon']
list1.extend(list2)
list1

['Apple',
 'Mango',
 'Banana',
 'papaya',
 'Chickoo',
 'Muskmelon',
 'Mango',
 'Grapes',
 'Plum',
 'Papaya',
 'Apple',
 'Watermelon']

In [ ]:
set1 = {'Apple', 'Mango', 'Banana', 'papaya', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Papaya', 'Apple', 'Watermelon'}
set1.union(set2)

{'Apple',
 'Banana',
 'Chickoo',
 'Grapes',
 'Mango',
 'Muskmelon',
 'Papaya',
 'Plum',
 'Watermelon',
 'papaya'}

In [ ]:
set1 | set2

{'Apple',
 'Banana',
 'Chickoo',
 'Grapes',
 'Mango',
 'Muskmelon',
 'Papaya',
 'Plum',
 'Watermelon',
 'papaya'}

In [ ]:
set1 = {'Apple', 'Mango', 'Banana', 'papaya', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Papaya', 'Apple', 'Watermelon'}
set1.intersection(set2)

{'Apple', 'Mango'}

In [ ]:
set1 & set2

{'Apple', 'Mango'}

In [ ]:
set1 = {'Apple', 'Mango', 'Banana', 'papaya', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Papaya', 'Apple', 'Watermelon'}
set1.difference(set2)

{'Banana', 'Chickoo', 'Muskmelon', 'papaya'}

In [ ]:
set1 - set2

{'Banana', 'Chickoo', 'Muskmelon', 'papaya'}

In [ ]:
set2.difference(set1)

{'Grapes', 'Papaya', 'Plum', 'Watermelon'}

In [ ]:
set2 - set1

{'Grapes', 'Papaya', 'Plum', 'Watermelon'}

In [ ]:
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Apple', 'Watermelon'}
set1.symmetric_difference(set2)

{'Banana', 'Chickoo', 'Grapes', 'Muskmelon', 'Plum', 'Watermelon'}

In [ ]:
(set1.union(set2)) - (set1.intersection(set2))

{'Banana', 'Chickoo', 'Grapes', 'Muskmelon', 'Plum', 'Watermelon'}

In [ ]:
print(set1.union(set2))
print(set1.intersection(set2))

{'Watermelon', 'Grapes', 'Plum', 'Mango', 'Muskmelon', 'Apple', 'Chickoo', 'Banana'}
{'Apple', 'Mango'}

In [ ]:
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Apple', 'Watermelon'}
print('______________________Before Intersection Update______________________')
print('Set1', set1)
print('Set2', set2)
print('__________________________________________________________________')
print('                                                                  ')
print('Output of Intersection', set1.intersection(set2))
set1.intersection_update(set2)
print('                                                                  ')
print('______________________After Intersection Update______________________')
print('Set1', set1)
print('Set2', set2)

______________________Before Intersection Update______________________
Set1 {'Apple', 'Chickoo', 'Banana', 'Mango', 'Muskmelon'}
Set2 {'Watermelon', 'Apple', 'Grapes', 'Plum', 'Mango'}
__________________________________________________________________

Output of Intersection {'Apple', 'Mango'}

______________________After Intersection Update______________________
Set1 {'Apple', 'Mango'}
Set2 {'Watermelon', 'Apple', 'Grapes', 'Plum', 'Mango'}

In [ ]:
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Apple', 'Watermelon'}
print('______________________Before Intersection Update______________________')
print('Set1', set1)
print('Set2', set2)
print('__________________________________________________________________')
print('                                                                  ')
print('Output of Intersection', set2.intersection(set1))
set2.intersection_update(set1)
print('                                                                  ')
print('______________________After Intersection Update______________________')
print('Set1', set1)
print('Set2', set2)

Set1 before intersection update {'Apple', 'Chickoo', 'Banana', 'Mango', 'Muskmelon'}
Set2 before intersection update {'Watermelon', 'Apple', 'Grapes', 'Plum', 'Mango'}
Output of Intersection {'Apple', 'Mango'}
----------------------------------
Set1 after intersection update {'Apple', 'Chickoo', 'Banana', 'Mango', 'Muskmelon'}
Set2 after intersection update {'Apple', 'Mango'}

In [ ]:
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Apple', 'Watermelon'}
print('______________________Before Difference Update______________________')
print('Set1', set1)
print('Set2', set2)
print('__________________________________________________________________')
print('                                                                  ')
print('Output of Difference', set1.difference(set2))
set1.difference_update(set2)
print('                                                                  ')
print('______________________After Difference Update______________________')
print('Set1', set1)
print('Set2', set2)

______________________Before Difference Update______________________
Set1 {'Apple', 'Chickoo', 'Banana', 'Mango', 'Muskmelon'}
Set2 {'Watermelon', 'Apple', 'Grapes', 'Plum', 'Mango'}
__________________________________________________________________

Output of Difference {'Watermelon', 'Plum', 'Grapes'}

______________________After Difference Update______________________
Set1 {'Apple', 'Chickoo', 'Banana', 'Mango', 'Muskmelon'}
Set2 {'Watermelon', 'Grapes', 'Plum'}

In [ ]:
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Apple', 'Watermelon'}
print('______________________Before Difference Update______________________')
print('Set1', set1)
print('Set2', set2)
print('__________________________________________________________________')
print('                                                                  ')
print('Output of Difference', set2.difference(set1))
set2.difference_update(set1)
print('                                                                  ')
print('______________________After Difference Update______________________')
print('Set1', set1)
print('Set2', set2)

______________________Before Difference Update______________________
Set1 {'Apple', 'Chickoo', 'Banana', 'Mango', 'Muskmelon'}
Set2 {'Watermelon', 'Apple', 'Grapes', 'Plum', 'Mango'}
__________________________________________________________________

Output of Difference {'Watermelon', 'Plum', 'Grapes'}

______________________After Difference Update______________________
Set1 {'Apple', 'Chickoo', 'Banana', 'Mango', 'Muskmelon'}
Set2 {'Watermelon', 'Grapes', 'Plum'}

In [ ]:
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Apple', 'Watermelon'}
print('______________________Before Symmetric Difference Update______________________')
print('Set1', set1)
print('Set2', set2)
print('__________________________________________________________________')
print('                                                                  ')
print('Output of Symmetric Difference', set1.symmetric_difference(set2))
set1.symmetric_difference_update(set2)
print('                                                                  ')
print('______________________After Symmetric Difference Update______________________')
print('Set1', set1)
print('Set2', set2)

______________________Before Symmetric Difference Update______________________
Set1 {'Apple', 'Chickoo', 'Banana', 'Mango', 'Muskmelon'}
Set2 {'Watermelon', 'Apple', 'Grapes', 'Plum', 'Mango'}
__________________________________________________________________

Output of Symmetric Difference {'Watermelon', 'Chickoo', 'Banana', 'Grapes', 'Plum', 'Muskmelon'}

______________________After Symmetric Difference Update______________________
Set1 {'Watermelon', 'Chickoo', 'Banana', 'Grapes', 'Plum', 'Muskmelon'}
Set2 {'Watermelon', 'Apple', 'Grapes', 'Plum', 'Mango'}

In [ ]:
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Apple', 'Watermelon'}
print('______________________Before Symmetric Difference Update______________________')
print('Set1', set1)
print('Set2', set2)
print('__________________________________________________________________')
print('                                                                  ')
print('Output of Symmetric Difference', set2.symmetric_difference(set1))
set2.symmetric_difference_update(set1)
print('\n')
print('______________________After Symmetric Difference Update______________________')
print('Set1', set1)
print('Set2', set2)

______________________Before Symmetric Difference Update______________________
Set1 {'Apple', 'Chickoo', 'Banana', 'Mango', 'Muskmelon'}
Set2 {'Watermelon', 'Apple', 'Grapes', 'Plum', 'Mango'}
__________________________________________________________________

Output of Symmetric Difference {'Watermelon', 'Chickoo', 'Banana', 'Grapes', 'Plum', 'Muskmelon'}


______________________After Symmetric Difference Update______________________
Set1 {'Apple', 'Chickoo', 'Banana', 'Mango', 'Muskmelon'}
Set2 {'Watermelon', 'Chickoo', 'Banana', 'Grapes', 'Plum', 'Muskmelon'}

In [ ]:
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Apple', 'Watermelon'}
print(set1)
set1.symmetric_difference_update(set2)
print(set1)

{'Apple', 'Chickoo', 'Banana', 'Mango', 'Muskmelon'}
{'Watermelon', 'Chickoo', 'Banana', 'Grapes', 'Plum', 'Muskmelon'}

In [ ]:
set1 = {'Apple', 'Mango', 'Banana', 'Chickoo', 'Muskmelon'}
set2 = {'Mango', 'Grapes', 'Plum', 'Apple', 'Watermelon'}
print(set2)
set2.symmetric_difference_update(set1)
print(set2)

{'Watermelon', 'Apple', 'Grapes', 'Plum', 'Mango'}
{'Watermelon', 'Chickoo', 'Banana', 'Grapes', 'Plum', 'Muskmelon'}

In [ ]:
A = {'Watermelon', 'Chickoo', 'Banana', 'Grapes', 'Plum', 'Muskmelon'}
B = {'Chickoo', 'Plum', 'Banana'}
C = {'Banana', 'Watermelon', 'Papaya'}

In [ ]:
#Is B a subset of A?
B.issubset(A)

True

In [ ]:
#Is A a subset of B?
A.issubset(B)

False

In [ ]:
# Is B a superset of A?
B.issuperset(A)

False

In [ ]:
# Is A a superset of B?
A.issuperset(B)

True

In [ ]:
A = {'Watermelon', 'Chickoo', 'Banana', 'Grapes', 'Plum', 'Muskmelon'}
B = {'Chickoo', 'Plum', 'Banana'}
C = {'Banana', 'Watermelon', 'Papaya'}

In [ ]:
print('Is B a subset of A?', B.issubset(A))
print('Is A a subset of B?', A.issubset(B))
print('Is B a superset of A?', B.issuperset(A))
print('Is A a superset of B?', A.issuperset(B))

Is B a subset of A? True
Is A a subset of B? False
Is B a superset of A? False
Is A a superset of B? True

In [ ]:
print('Is C a subset of A?', C.issubset(A))
print('Is A a subset of C?', A.issubset(C))
print('Is C a superset of A?', C.issuperset(A))
print('Is A a superset of C?', A.issuperset(C))

Is C a subset of A? False
Is A a subset of C? False
Is C a superset of A? False
Is A a superset of C? False

In [ ]:
# A & B are disjoint only if not even one single element is common between the 2 sets.
A = {'Chickoo', 'Plum', 'Banana'}
B = {'Watermelon', 'Grapes', 'Papaya'}
A.isdisjoint(B)

True