#### data type:
    -it specifies the type of the data..
    -three basic data types:
    1.int()
    2.flote()
    3.str()
    -type() method:
            To know the type of data
            ex;type(variable_name)

In [1]:
a=100
print(type(a))

<class 'int'>

In [3]:
s="phython programming"
print(type(s))

<class 'str'>

### Type conversons:
    -1.int()_>flote()
    2.FLOTE()_>int()
    3.str()_> int()

In [14]:
#1.To convert the data into integer to floate.
n = 123
print(n)
print(type(n))
n = float(n)
print(n)
print(type(n))

123
<class 'int'>
123.0
<class 'float'>

In [12]:
#to convrert the data into flote to integer conversion.
m = 67.89
print(m)
print(type(m))
m = int(m)
print(m)
print(type(m))

67.89
<class 'float'>
67
<class 'int'>

In [15]:
#To convert the data into string to integer..
s1='2345'
print(s1)
print(type(s1))
s1=int(s1)
print(s1)
print(type(s1))

2345
<class 'str'>
2345
<class 'int'>

In [6]:
s2='phython'
print(s2)
print(type(s2))
s2 = int(s2)
print(s2)
print(type(s2))

phython
<class 'str'>

ValueError: invalid literal for int() with base 10: 'phython'

 ### input methods:
     using input() we can read the value from the key board.
     - syntax;
         variable_name = data type(input('promot message))

In [18]:
#To raed integer value...
k = int(input("Enter k value"))
print(k)
print(type(k))

Enter k value34
34
<class 'int'>

In [19]:
#To read floating value...
k=float(input("enter k value"))
print(k)
print(type(k))

enter k value32.3
32.3
<class 'float'>

In [7]:
#To read string value... no need to specify the data type
k=input()
print(k)
print(type(k))

2
2
<class 'str'>

#### variables:
       by using variable we can store the data..
           Ex: variable_name = value
           rules:
           ------
    1. variable name start with alphabets,alphabetsb followed by digits,underscore,combination of upper and lower case alphabets.
    -ex: a = 100 ,abc12 = 34 ,_a = 23,ABc = 'phyton'
    2.variable name should not start with digits,special characters,keywords,inbuilt functions.
    ex:123 = 34,@abc='phtyon',while = 34,max = 56
    variable name should not allow the spaces.
    ex: first name  = 'abc'
    to join the two names we can use underscore.
    ex: first_name = 'abc'

In [27]:
abc123='phython'
print(abc123)

phython

In [28]:
#To assing the same data to different variable names...
a=b=c=d=e=10
print(a,b,c,d,e)

10 10 10 10 10

In [29]:
#To store the defferent type data to different variable name
a1,b1,c1=23.43,'phython',78
print(a1,b1,c1)
print(type(a1),a1)
print(type(b1),b1)
print(type(c1),c1)

23.43 phython 78
<class 'float'> 23.43
<class 'str'> phython
<class 'int'> 78

In [10]:
import keyword
print('keywords are:')
print(keyword.kwlist)

keywords are:
['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### operator:
    to perform any operation operand or values
        ex-a=10,b = 20
        print(a+b)
        output:30
    7 types of peration in phython
       1-arithamatic operator
      2.comparision operator
      3.logical operator
      4.assingnment operator
    5.bitwise operator
    6.membertship operator
    7.identity operator

In [1]:
# 1. Arithmetic operators:
# def: To perform the simple mathematical operation
#(+,-,*,/,%,//,(floor division),**(power))
a = int(input("enter a value"))
b = int(input("enter b value"))
print('addition is :',a+b)
print('subtraction is :',a-b)
print('mulpication is :',a*b)
print('moduls is :',a%b)
print('floor division is :',a//b)
print('division is :',a/b)
print('power is:',a**2)

enter a value25
enter b value3
addition is : 28
subtraction is : 22
mulpication is : 75
moduls is : 1
floor division is : 8
division is : 8.333333333333334
power is: 625

In [2]:
#2.Comparion operator
#(<,>,<=,>=,!=,==)
# It return the boolean values like(True or False)
p = 23
q = 100
print('< values is:',p>q)
print('> value is ',p<q)
print('<= value is',p<=q)
print('>= value is',p>=q)
print('== value is',p==q)

< values is: False
> value is  True
<= value is True
>= value is False
== value is False

In [3]:
#3.logical operators
#it returns the boolean values-> True or false
# (and,or,not)
'''
P Q (p and q) (P or Q)  (P not Q)
1 1   1          1         0
1 0   0          1         0
0 1   0          1         1
0  0  0          0         1

''''
a = 10
b = 24 
print(a>b and b>a)
#     F and T -> False
print(a!=b or b==a)
#     T or F -> True
print(a!=b or b==a) 
# not(True)

SyntaxError: EOL while scanning string literal (1133737013.py, line 11)

In [9]:
#Bitwise operators
# (&,|,^,(x-or),<<(left shift),>>(right shift),~(negat
a=10
b=15
print(a&b)
print(a|b)
print(a^b)
print(a<<2)
print(a>>2)
print(~a)
print(~b)
# negation ~ => -(1010+1) =>-(1011)

10
15
5
40
2
-11
-16

In [11]:
# assingnment operators :
#(+=,-=,*=,/=,//=,**=)
a=23
b=35
a +=b
#a=a+b => a=23+35 =>58 =.a=58
print('a value is:',a)
b -=a #b =b-a=>b=35-58=>-23
print('b value is:',b)

a value is: 58
b value is: -23

In [12]:
#membeship operator:
#it will return bollean values like true or false.
#(in,not in) -> list of data,string concept...
L1 = [10,20,30,40,50,60]
print(10 in L1)
print(100 not in L1)
print(40 not in L1)

True
True
False

In [5]:
s1 = 'phyton programming'
print('t' in s1)
print('program'in s1)
print('b'in s1)
print('c' not in s1)
print('s'not in s1)

True
True
False
True
True

In [4]:
# identity opeator:
# (is, is not)
a = 10
b = 20
print(a is b) # equal
print(a is not b) # not equal

False
True

In [20]:
s1 = "abc"
s2 = "ABC"
print(s1 is s2)

False

### Task:
1. To calculate the aruehmetic operations?
2. to convert the dollars to ruppes?
input: d = 5
output: 
3. To convert the ruppes to dollars?
input: r =100
output:
4. To print the swapping of a two  numbers ?
input: a = 10 b = 20
output: a = 20 b = 10
5. To find the area of the square?
6. To find the area of a circle?
7. To find the simple interest?
8. To read the input and check data type?
9. To concanate the two string?
10. To read the two inputs and to print the remainder value?

In [ ]:
b = 100 # static
b = int(input('enter b value'))

In [21]:
#arthematic operations
a = int(input("enter a value"))
b = int(input("enter b value"))
print('addition is :',a+b)
print('subtraction is :',a-b)
print('mulpication is :',a*b)
print('moduls is :',a%b)
print('floor division is :',a//b)
print('division is :',a/b)
print('power is:',a**2)

enter a value50
enter b value20
addition is : 70
subtraction is : 30
mulpication is : 1000
moduls is : 10
floor division is : 2
division is : 2.5
power is: 2500

In [17]:
#area of square
s = int(input('Enter the value of side :'))
a = s*s
print('triangle of square is =',a)

Enter the value of side :5
triangle of square is = 25

In [15]:
#area of circle
r=float(input('Enter the value of radius:'))
a=22/7*r*r
print('Area of circle is =',a)

Enter the value of radius:9
Area of circle is = 254.57142857142856

In [43]:
#rupees into dollers
rupees = float(input('Enter the rupees:'))
dollers = rupees / 82.52
print(dollers,'dollers')

Enter the rupees:100
1.211827435773146 dollers

In [45]:
#dollers to ruppes
dollers = float(input('Enter the dollers:'))
rupees = dollers * 82.52
print(rupees,'rupees')

Enter the dollers:5
412.59999999999997 rupees

In [4]:

b='namaste'
print(b)

namaste

In [2]:
#swapping of two numbers
a=int(input('Enter the value of a:'))
b=int(input('Enter the value of b:'))
temp=a
a=b
b=temp
print('after swaping:')
print('value of a:',a)
print('value of b:',b)

Enter the value of a:10
Enter the value of b:20
after swaping:
value of a: 20
value of b: 10

In [27]:
#simple intrest
p=int(input('Enter the principal:'))
t=int(input('Enter the time:'))
r=int(input('Enter the rate:'))
si=p*t*r/100
print('simple intrest:',si)

Enter the principal:100
Enter the time:2
Enter the rate:20
simple intrest: 40.0

In [2]:
a=float(input('Enter the value of a:'))
b=float(input('Enter the value of b:'))
rem=a/b
print(rem)

Enter the value of a:5
Enter the value of b:20
0.25

In [17]:
x=15
print(type(x))

<class 'int'>

In [8]:
a='siva'
b=123
C=123.4
print(type(a))
print(type(b))
print(type(C))

<class 'str'>
<class 'int'>
<class 'float'>

In [3]:
s=2345
print("s")
print(type(s))
n=str(s)
print(n)
print(type(n))

s
<class 'int'>
2345
<class 'str'>